<% team ||= nil %>
<% profile_title = "View #{participant.login}'#{'s' unless participant.login[-1..-1] == 's'} profile" %>
<li class="clear" id="user-<%= participant.id %>">
  <% if current_user && current_user.is_hosting?(@tournament) && participant.participations.exists?(:tournament_id => @tournament, :state => 'pending') %>
    <p class="approve_checkbox"><input type="checkbox" value="<%= participant.id %>" class="approve_checkbox_box" /></p>
  <% end %>
	<div class="user_avatar">
		<%= link_to(image_tag(participant.avatar.url(:medium), :alt=>"Avatar of #{participant.login}"), profile_user_path(participant.login), :title => profile_title) %>
	</div>
	<div class="user_name clear">
		<% link_to(profile_user_path(participant.login), :title => profile_title) do %>
		  <h2><%= participant.login %></h2>
	  <% end %>
    <p class="nick_name"><%= participant.name %></p>
	  <p class="role"><%= participant.role_in(@tournament, team) %></p>
	</div><!-- / user_name -->
	<div class="clear"></div>
	<div class="activity">Last activity: <span class='date' title="<%= participant.last_activity.iso8601 if participant.last_activity %>"><%= participant.last_activity ? participant.last_activity.to_s : 'never' %></span></div>
	<% if current_user && @tournament.instance.host != participant && ((current_user == @tournament.instance.host && participant.is_hosting?(@tournament)) || (current_user.is_hosting?(@tournament) && !participant.is_hosting?(@tournament)) || (current_user == participant)) %>
  	<%= link_to('Delete', deny_tournament_participants_path(:participant => participant.id), :title => 'Delete User', :class => 'user_delete', :rel => "modal {method: 'delete', title: 'Are You Sure?', text: 'Do you really want to #{ participant == current_user ? 'leave' : "remove <b>#{participant.login}</b> from" } this tournament?'}") %>
  <% end %>
</li>

