<% team ||= nil %>
<% show_checkbox ||= nil %>
<% role ||= nil %>
<% profile_title = "View #{participant.login}'#{'s' unless participant.login[-1..-1] == 's'} profile" %>

<li class="clear" id="user-<%= participant.id %>">
	<div class="user_avatar">
		<%= link_to image_tag(participant.avatar.url(:medium)), user_path(participant.login), :title => profile_title %>
	</div>
	
	<div class="user_name clear">
	  <%= link_to participant.login, user_path(participant.login), :title => profile_title %>
    <p class="nick_name"><%= participant.login %></p>
	  <p class="role"><% if role %><%= role %><% end %></p>
	</div><!-- / user_name -->
	<div class="clear"></div>
	
	<div class="activity">Last activity: <span class='date' title="<%= participant.last_activity %>"><%= participant.last_activity %></span></div>
	
	<% if current_user && 
	  current_account.admin != participant && 
	  ((current_user == current_account.admin && @officials.include?(participant)) || 
	  (current_user.is_hosting?(current_account) && !@officials.include?(participant)) || 
	  (current_user == participant)) &&
	  !@tournament.started? %>
  	
  	  <%= link_to('Decline', deny_tournament_participants_path(:participation => participation.id), :title => 'Delete User', :class => 'user_delete', :rel => "modal {method: 'delete', title: 'Are You Sure?', text: 'Do you really want to #{ participant == current_user ? 'leave' : "remove <b>#{participant.login}</b> from" } this tournament?'}") %>
  
  <% end %>
  
  <% if show_checkbox %>
    <%= link_to "Accept", accept_tournament_participants_path(:participation => participation.id), :class => 'user_accept' %>
  <% end %>
</li>


