<% user ||= participation.participant %>

<li class="clear" id="user-<%= user.id %>">
	<div class="user_avatar">
		<%= link_to image_tag(user.avatar.url(:medium)), user_path(user.username) %>
	</div>
	
	<div class="user_name clear">
	  <%= link_to user.username, user_path(user.username) %>
	  <p class="role"></p>
	  <div class="activity">Last activity: <span class='date' title="<%= user.last_activity %>"><%= user.last_activity %></span></div>
	</div><!-- / user_name -->

	<% if can? :destroy, participation %>
  	  <%= link_to('Decline', deny_tournament_participants_path(:participant => user.id), :title => 'Delete User', :class => 'user_delete', :rel => "modal {method: 'delete', title: 'Are You Sure?', text: 'Do you really want to #{ user == current_user ? 'leave' : "remove <b>#{user.login}</b> from" } this tournament?'}") %>
  <% end %>
  
  <% if can? :accept, participation %>
    <%= link_to "Accept", accept_tournament_participants_path(:participant => user.id), :class => 'user_accept' %>
  <% end %>
</li>


