<% stylesheet :participants %>
<% body 'participants' %>
<% title @tournament.name %>

<% content_for :tournament_nav do -%>
  <%= render :partial => "layouts/sub_nav", :locals => {:active => 'participants'} %>
<% end -%>

<div id="maincol">
	<div class="col">

  	<% if current_user %>
	    <% current_user.team_members.all(:conditions => {:state => 'pending'}).each do |memb| %>
	      <% next unless memb.team.tournament_id == @tournament.id %>
	   	  <div class="note blue_filled clear">
			    <p>You were invited to join the team <b><%= h memb.team.name %></b>, created by <b><%= h memb.team.captain.login %></b>.</p>
			    <a rel="modal {text: 'Do you really want to join the team?', method: 'put'}" class="btn_join" href="<%= join_tournament_team_path(@tournament, memb.team) %>">Accept</a>
			    <a rel="modal {text: 'Do you really want to decline the invitation?', method: 'delete'}" class="btn_join" href="<%= decline_tournament_team_path(@tournament, memb.team) %>">Decline</a>
		    </div><!-- / global_note -->
		  <% end %>
		<% end %>
  
  <!-- OFFICIALS -->
  <div class="pod tab-pod">
	  <div class="hd">
	    <h2>Officials</h2>
	    <ul class="tabbed clear">
	      <% if current_user.is_hosting? @tournament %>
          <li class="create_team active"><a class="rc" href="#add_cohost" rel="modal">Add a Co-Host</a></li>
        <% end %>
      </ul>
	  </div>
	  <div class="bd clear player_list">
	    <ul class="clear" id="list_officialts">
        <% @officials.each do |participant| %>
          <%= render(:partial => 'participant', :locals => {:participant => participant}) %>
        <% end %>
	    </ul>
	  </div>
	</div>
  
  <!-- TEAMS -->
  <% if @tournament.use_teams? %>
  <div class="pod tab-pod">
	  <div class="hd">
	    <h2>Teams</h2>
      <% if current_user && current_user.is_participant_of?(@tournament) %>
      <ul class="tabbed clear">
        <li class="create_team active"><a class="rc" href="#create_team" rel="modal">Create a Team</a></li>
      </ul>
      <% end %>
	  </div>
	  <div class="bd clear player_list">
      <% @teams.each do |team| %>
      <div class="team">
        <h3><%= team.name %></h3>
        <ul>
          <% for member in team.members %>
          <li>
            <%= image_tag member.avatar.url(:small) %>
            <%= link_to member.login, user_path(member) %>
          </li>
          <% end %>
        </ul>
        
        <% if current_user && current_user == team.captain %>
          <ul class="tabbed clear">
	          <li class="edit_team active"><a class="rc" href="#create_team" rel="modal">Edit Team</a></li>
	          <li class="delete_team active"><a class="rc" href="<%= tournament_team_path(@tournament, team) %>" rel="modal {method: 'delete', text: 'Do you really want to delete your team?'}">Delete Team</a></li>
          </ul>
	      <% end %>
	      
      </div>
      <% end %>
	  </div>
	</div>
	<% end %>
  
  <!-- PARTICIPANTS -->
  <div class="pod tab-pod">
	  <div class="hd">
	    <h2>Participants</h2>
	  </div>
	  <div class="bd clear player_list">
	    <ul class="clear" id="list_officialts">
        <% @active.each do |participant| %>
          <%= render(:partial => 'participant', :locals => {:participant => participant}) %>
        <% end %>
	    </ul>
	  </div>
	</div>
  
  <!-- PENDING -->
  <% if current_user && current_user.is_hosting?(@tournament) && !@pending.blank? %>
  <div class="pod tab-pod">
	  <div class="hd">
	    <h2>Pending Approval</h2>
	  </div>
	  <div class="bd clear player_list">
	    <ul class="clear" id="list_officialts">
        <% @pending.each do |participant| %>
          <%= render(:partial => 'participant', :locals => {:participant => participant, :show_checkbox => true}) %>
        <% end %>
	    </ul>
    	<div class="pending_approval_btns btn_wrapper">
    	  <button class="btn" id="approve"><span class="icon"></span><span>Approve Selected</span></button>
    	  <button class="btn" id="decline"><span class="icon"></span><span>Decline Selected</span></button>
    	</div>
	  </div>
	</div>
	<% end %>
  
	
	<script type="text/javascript" charset="utf-8">
	  $(document).ready(function(){
	    function getPendingChecked() {
        serialized = []
        $('.approve_checkbox_box').each(function() {
          if(this.checked)
            serialized.push({name: "participant_ids[]", value: this.value});
        });
	      serialized.push({name: "authenticity_token", value: "<%= form_authenticity_token %>"});
        return serialized;
      }
	    // Approve Participants
	    $("button#approve").click(function() {
	      serialized = getPendingChecked();
	      serialized.push({name: "_method", value: "put"});
        $.post('<%= accept_tournament_participants_path(@tournament) %>', serialized, null, 'script');
      })
      
      // Deny Participants
      $("button#decline").click(function() {
	      serialized = getPendingChecked();
	      serialized.push({name: "_method", value: "delete"});
        $.post('<%= deny_tournament_participants_path(@tournament) %>', serialized, null, 'script');
      })
	  })
	</script>
	</div><!-- / col -->
</div><!-- / main-col -->
