<% stylesheet :participants %>
<% body 'participants' %>
<% title @tournament.name %>

<% content_for :tournament_nav do -%>
  <%= render :partial => "layouts/sub_nav", :locals => {:active => 'participants'} %>
<% end -%>

<div id="maincol">
	<div class="col">
  
  <!-- OFFICIALS -->
  <div class="pod tab-pod">
	  <div class="hd">
	    <h2>Officials</h2>
	    <ul class="tabbed clear">
	      <% if can? :add_cohost, @tournament %>
          <li class="create_team active">
            <%= link_to "Add a Co-Host", add_cohost_tournament_participants_path(@tournament), :'data-modal' => true, :'data-remote' => true, :class => 'rc' %>
          </li>
        <% end %>
      </ul>
	  </div>
	  <div class="bd clear player_list">
	    <ul class="clear players" id="list_officialts">
	      <!-- host -->
	      <li class="clear" id="host">
        	<div class="user_avatar">
        	  <%= link_to image_tag(current_account.admin.avatar.url(:medium)), user_path(current_account.admin.username) %>
        	</div>
        	<div class="user_name clear">
        	  <%= link_to current_account.admin.username, user_path(current_account.admin.username) %>
        	  <p class="role">Host</p>
        	  <div class="activity">Last activity: 
        	    <span class='date' title="<%= current_account.admin.last_activity %>">
        	    <%= current_account.admin.last_activity %>
        	    </span>
        	  </div>
        	</div><!-- / user_name -->
        </li>
        <!-- / host -->
        
        <% @officials.each do |participation| %>
          <%= render participation %>
        <% end %>
	    </ul>
	  </div>
	</div>
  
  <!-- TEAMS -->
  <% if @tournament.use_teams? %>
  <div class="pod tab-pod">
	  <div class="hd">
	    <h2>Teams</h2>
      <% if current_user && current_user.is_participant_of?(@tournament) %>
      <ul class="tabbed clear">
        <li class="create_team active"><a class="rc" href="#create_team" rel="modal">Create a Team</a></li>
      </ul>
      <% end %>
	  </div>
	  <div class="bd clear team_player player_list">
      <% @teams.each do |team| %>
      <div class="team">
        <div class="team_inner">
        <h3><%= team.name %></h3>
        <ul class="clear">
          <% team.members.each_with_index do |member, index| %>
            <% if index == 0 %>
            <li class="team_captain clear">
              <span class="avatar"><%= image_tag member.avatar.url(:small) %></span>
              <span class="username"><%= link_to member.login, user_path(member) %></span>
              <span class="captain">Team Captain</span>
              <span class="actions"><a class="team_user_delete" href="">Delete</a></span>
            </li>
            <% else %>
            <li class="clear">
              <span class="avatar"><%= image_tag member.avatar.url(:small) %></span>
              <span class="username"><%= link_to member.login, user_path(member) %></span>
              <span class="actions"><a class="team_user_delete" href="">Delete</a></span>
            </li>
            <% end %>
          <% end %>
           <li class="last clear">
              <span class="avatar"><img src="http://starfeeder.localhost:3001/users/avatars/missing_small.jpg?1251918398"/></span>
              <span class="username"><a href="">Jeremy</a></span>
              <span class="actions"><a class="team_user_delete" href="">Delete</a></span>
            </li>
        </ul>
        
        <% if current_user && current_user == team.members.first %>
          <ul class="tabbed clear">
	          <li class="edit_team active"><a class="rc" href="#create_team" rel="modal">Edit Team</a></li>
	          <li class="delete_team active"><a class="rc" href="<%= tournament_team_path(@tournament, team) %>" rel="modal {method: 'delete', text: 'Do you really want to delete your team?'}">Delete Team</a></li>
          </ul>
	      <% end %>
	      </div><!-- / team_inner -->
      </div><!-- / team -->
      <% end %>
	  </div>
	</div>
	<% end %>
  
  <!-- PARTICIPANTS -->
  <div class="pod tab-pod">
	  <div class="hd">
	    <h2>Participants</h2>
	  </div>
	  <div class="bd clear player_list">
	    <ul class="clear players" id="list_participants">
        <% @active.each do |participation| %>
          <%= render participation %>
        <% end %>
	    </ul>
	  </div>
	</div>
  
  <!-- PENDING -->
  <% if can?(:accept, Participation.new(:tournament => @tournament)) && !@pending.blank? %>
  <div class="pod tab-pod">
	  <div class="hd">
	    <h2>Pending Approval</h2>
	  </div>
	  <div class="bd clear player_list">
	    <ul class="clear players" id="list_officials">
        <% @pending.each do |participation| %>
          <%= render participation %>
        <% end %>
	    </ul>
	  </div>
	</div>
	<% end %>
  
	
	<script type="text/javascript" charset="utf-8">
	  $(document).ready(function(){
	    function getPendingChecked() {
        serialized = []
        $('.approve_checkbox_box').each(function() {
          if(this.checked)
            serialized.push({name: "participant_ids[]", value: this.value});
        });
	      serialized.push({name: "authenticity_token", value: "<%= form_authenticity_token %>"});
        return serialized;
      }
	    // Approve Participants
	    $(".user_accept").click(function(event) {
	      event.preventDefault();
        $.post(this.href, {'_method': 'put'}, null, 'script');
      })
      
      // Deny Participants
      $("button#decline").click(function() {
	      serialized = getPendingChecked();
	      serialized.push({name: "_method", value: "delete"});
        $.post('<%= deny_tournament_participants_path(@tournament) %>', serialized, null, 'script');
      })
	  })
	</script>
	</div><!-- / col -->
</div><!-- / main-col -->
