<% stylesheet :messages %>
<% title "Valor Tournament" %>

<% content_for :tournament_nav do -%>
  <%= render :partial => "layouts/sub_nav", :locals => {:active => 'messages'} %>
<% end -%>

<div id="maincol">
	<div class="pod tab-pod">
  	<div class="hd">
  	 <h2>Messages</h2>
			<ul class="tabbed clear">
				<li class="active"><%= link_to "New Message", new_tournament_message_path(@tournament) %></li>
			</ul>
  	</div>
  	<div class="bd">
		  <table id="messages">
		    <% if !@messages.blank? %>
		      <% for m in @messages %>
		        <tr>
              <td class="message_main">
    		        <span class="message_subject">
    							<!--><p class="cat_announcement">Announcment</p>-->
    							<%= link_to m.subject, tournament_message_path(@tournament, m) %>
    						</span>
      		      <p>Posted by <%= link_to m.author.login, '', :class => 'message_user' %> on <%= m.created_at %></p>
              </td>
              <td class="message_status"><p>
                <img src="/images/comment.gif" alt="comment" />
                <span>23</span> | <a href="/preview/messages/show/">2 unread</a></p>
              </td>		      
              <td class="message_latest">
    		        <p>Latest Comment by <a href="/preview/messages/show/" class="message_user">mattdetails</a><br /> Yesterday 3:53am</p>
    		      </td>
    		    </tr><!-- /comment -->
		      <% end %>
		    <% else %>
		      <tr>
		        <td>No Messages</td>
		      </tr>
		    <% end %>
		  </table>
  	</div><!-- / bd -->
	</div><!-- / pod -->
	
</div><!-- / main-col -->

<div id="sidecol">
	<div class="pod categories">
  	<div class="hd">
  	 <h2>Categories</h2>
  	</div>
  	<div class="bd">
			<ul>
				<li><a href="">Announcements</a></li>
				<li><a href="">Announcements</a></li>
				<li><a href="">Announcements</a></li>
				<li><a href="">Announcements</a></li>
				<li class="last"><a href="">Announcements</a></li>
			</ul>
  	</div><!-- / bd -->
	</div><!-- / pod -->
</div><!-- / sidecol -->