<% stylesheet :messages %>
<% body 'index_messages' %>

<% content_for :tournament_nav do -%>
  <%= render :partial => "layouts/sub_nav", :locals => {:active => 'messages'} %>
<% end -%>

<div id="maincol">
	<div class="col">
	<div class="pod tab-pod">
  	<div class="hd">
  	 <h2>Messages</h2>
  	  <% if current_user && (current_user.is_hosting?(@tournament) || current_user.is_participant_of?(@tournament)) %>
			  <ul class="tabbed clear">
				  <li class="active"><%= link_to"New Message", new_tournament_message_path(@tournament) %></li>
			  </ul>
			<% end %>
  	</div>
  	<div class="bd">
	    <% if !@messages.blank? %>
	    <table cellspacing="0" id="messages">
        
      <% for m in @messages %>
        <% next if m.hosts_only? && (!current_user || !current_user.is_hosting?(@tournament)) %>
        <tr <%= m == @messages.last ? 'class="last"' : nil %>>
          <td class="message_main">
		        <span class="message_subject">
							<% if m.is_announcement %><p class="cat_announcement">Announcement</p><% end %>
							<% if m.hosts_only %><p class="cat_hosts_only">Private To Hosts</p><% end %>
							<%= link_to m.subject, tournament_message_path(@tournament, m) %>
						</span>
  		      <p>Posted by <%= link_to m.author.login, '', :class => 'message_user' %> <span class="date" title="<%= m.created_at.iso8601 %>"><%= m.created_at %></span></p>
          </td>
          
          <td class="comment_count">
            <p><img src="/images/icon_comment.png" alt="comment" /><em><%= m.comments.count %></em></p>
          </td>
          
          <td class="message_latest">
            <% if m.comments.count > 0 %>
		          <p>Latest Comment by <a href="/preview/messages/show/" class="message_user"><%= m.comments.last.author.login %></a><br /> 
		          <span class="date" title="<%= m.comments.last.created_at.iso8601 %>"><%= m.comments.last.created_at %></span></p>
		        <% else %>
		          <p>No Comments</p>
		        <% end %>
		      </td>
		    </tr><!-- /comment -->
      <% end %>
      
      </table>
      <% else %>
	      No Messages
	    <% end %>
  	</div><!-- / bd -->
	</div><!-- / pod -->
	</div><!-- / col -->
</div><!-- / main-col -->

<div class="beta" id="sidecol">
	<div class="col">
	<div class="pod categories">
  	<div class="hd">
  	 <h2>Categories</h2>
  	</div>
  	<div class="bd">
			<ul>
				<li><a href="">Announcements</a></li>
				<li><a href="">Announcements</a></li>
				<li><a href="">Announcements</a></li>
				<li><a href="">Announcements</a></li>
				<li class="last"><a href="">Announcements</a></li>
			</ul>
  	</div><!-- / bd -->
	</div><!-- / pod -->
	</div><!-- / col -->
</div><!-- / sidecol -->
