<% stylesheet :messages %>
<% body 'index_messages' %>
<% title @tournament.name %>

<% content_for :tournament_nav do -%>
  <%= render :partial => "layouts/sub_nav", :locals => {:active => 'messages'} %>
<% end -%>

<div id="maincol">
	<div class="col">
	<div class="pod tab-pod">
  	<div class="hd">
  	 <h2>Messages</h2>
			<ul class="tabbed clear">
				<li class="active"><%= link_to "New Message", new_tournament_message_path(@tournament) %></li>
			</ul>
  	</div>
  	<div class="bd">
	    <% if !@messages.blank? %>
	    <table id="messages">
        
      <% for m in @messages %>
        <tr <%= m == @messages.last ? 'class="last"' : nil %>>
          <td class="message_main">
		        <span class="message_subject">
							<% if m.is_announcement %><p class="cat_announcement">Announcment</p><% end %>
							<%= link_to m.subject, tournament_message_path(@tournament, m) %>
						</span>
  		      <p>Posted by <%= link_to m.author.login, '', :class => 'message_user' %> on <span class="date" title="<%= m.created_at.iso8601 %>"><%= m.created_at %></span></p>
          </td>
          <td class="message_status"><p>
            <img src="/images/comment.gif" alt="comment" />
            <span><%= m.comments.count %></span> | <%= link_to m.comments.count.to_s + ' unread (todo)', tournament_message_path(@tournament, m) %></p>
          </td>		      
          
          <td class="message_latest">
            <% if m.comments.count > 0 %>
		          <p>Latest Comment by <a href="/preview/messages/show/" class="message_user"><%= m.comments.last.author.login %></a><br /> 
		          <span class="date" title="<%= m.comments.last.created_at.iso8601 %>"><%= m.comments.last.created_at %></span></p>
		        <% else %>
		          <p>No Comments</p>
		        <% end %>
		      </td>
		    </tr><!-- /comment -->
      <% end %>
      
      </table>
      <% else %>
	      No Messages
	    <% end %>
  	</div><!-- / bd -->
	</div><!-- / pod -->
	</div><!-- / col -->
</div><!-- / main-col -->

<div class="beta" id="sidecol">
	<div class="col">
	<div class="pod categories">
  	<div class="hd">
  	 <h2>Categories</h2>
  	</div>
  	<div class="bd">
			<ul>
				<li><a href="">Announcements</a></li>
				<li><a href="">Announcements</a></li>
				<li><a href="">Announcements</a></li>
				<li><a href="">Announcements</a></li>
				<li class="last"><a href="">Announcements</a></li>
			</ul>
  	</div><!-- / bd -->
	</div><!-- / pod -->
	</div><!-- / col -->
</div><!-- / sidecol -->