<% stylesheet :new_message %>
<% body 'new_message' %>
<% title @tournament.name %>
<% content_for :tournament_nav do -%>
  <%= render :partial => 'layouts/sub_nav', :locals => {:active => 'messages'} %>
<% end -%>

<script type="text/javascript">
  $(function() {
    $('input#select_all').click(function(e) {
      $('input.subscriber').attr('checked', $(e.target).attr('checked'));
    });
  });
</script>
<div id="maincol">
	<div class="col">
	<div class="pod">
	<div class="hd">
 	 <h2>New Message</h2>
	</div>
	<div class="bd clear">
	  <% form_for @message, :url => tournament_messages_path(@tournament), :html => {:multipart => true} do |f| -%>
    <%= f.error_messages %>
	  <div id="message_main" class="group clear">
			<%= f.label :subject, "Title" %>
			<%= f.text_field :subject %>
			
			<%= f.label :post, "Post Body" %>
			<%= f.text_area :body, :size => '60x15' %>
			
			<% if current_user.is_hosting?(current_account) %>
			  <div>
				  <%= f.check_box :is_announcement %> <%= f.label :is_announcement, "This message is an announcement", :style => 'display:inline' %>
				  <%= f.check_box :hosts_only %> <%= f.label :hosts_only, "Private to Hosts/Co-Hosts", :style => 'display:inline' %>
			  </div>
			<% end %>
		</div><!-- / darkpod -->
		
		<div id="message_attach" class="group darkpod clear">
			<label><strong>Attach a File</strong></label>
			<p class="note yellow_note">Files cannot be larger than 42 and must contain references to cats.</p>
			<% f.fields_for :attachments, Attachment.new do |attachment| -%>
        <%= attachment.file_field :attachment %>
			<% end -%>
		</div><!-- / darkpod -->
    <%- 
=begin %>
    <div id="message_subscribe" class="group darkpod clear">
      
      <label><strong>Subscribe the following users to receive email notifications:</strong></label>
      <ul>
        <li><input type="checkbox" id="select_all" /><label for="select_all" class="checkbox">Select All</label></li>
      </ul>
      <ul>
        <% ([@tournament.instance.admin] + @tournament.cohosts).each do |participant| %>
          <li><input class="subscriber" type="checkbox" size="40" name="message[subscriber_ids][]" id="message_user_ids_<%= participant.id %>" value="<%= participant.id %>" <%= 'checked="checked"' if @message.subscribers.include?(participant) %>/> <label class="checkbox" for="message_user_ids_<%= participant.id %>"><%= participant.login %></label></li>
        <% end %>
      </ul>
      <ul>
        <% @tournament.participants.each do |participant| %>
          <li><input class="subscriber" type="checkbox" size="40" name="message[subscriber_ids][]" id="message_user_ids_<%= participant.id %>" value="<%= participant.id %>" <%= 'checked="checked"' if @message.subscribers.include?(participant) %>/> <label class="checkbox" for="message_user_ids_<%= participant.id %>"><%= participant.login %></label></li>
        <% end %>
      </ul>
    </div><!-- / darkpod -->
<%- 
=end %>
    <button type="submit" class="btn"><span class="icon"></span><span>Post Message</span></button>
    or <a href="">Cancel</a>
    <% end -%>      
  </div><!-- / bd -->
  </div><!-- / pod -->
  </div><!-- / col -->
</div><!-- / main-col -->

<div class="beta" id="sidecol">
  <div class="col">
    <div class="pod">
    <div class="hd">
     <h2>Options</h2>
    </div>
    <div class="bd clear">
      
      <div class="group">
      <h3>Categories</h3>
      <ul>
        <li><input type="checkbox" size="40"/> <label class="checkbox">Announcments</label></li>
        <li><input type="checkbox" size="40"/> <label class="checkbox">Disputes</label></li>
      </ul>
      </div>
      
      <div class="group">
      <h3>Private</h3>
      
      </div>
    </div><!-- / bd -->
    </div><!-- / pod -->  
  </div><!-- / col -->
</div><!-- / sidecol -->
