<% stylesheet :new_message %>
<% title @tournament.name %>
<% content_for :tournament_nav do -%>
  <%= render :partial => 'layouts/sub_nav', :locals => {:active => 'messages'} %>
<% end -%>

<div id="maincol">
	<div class="pod">
	<div class="hd">
 	 <h2>New Message</h2>
	</div>
	<div class="bd clear">
	  <% form_for @message, :url => tournament_messages_path(@tournament) do |f| -%>
    <%= f.error_messages %>
	  <div id="message_main" class="group darkpod clear">
			<%= f.label :subject, "Subject" %>
			<%= f.text_field :subject %>
			
			<%= f.text_area :body, :size => '60x15' %>
			<label class="dropdown_horz">Category</label>
			<select name="some_name" id="some_name">
				<option value="option1">Announcments</option>
				<option value="option2">option2</option>
			</select>
		</div><!-- / darkpod -->
		
		<div id="message_attach" class="group darkpod clear">
			<label>Attach a File</label>
			<p class="note">Files cannot be larger than 42 and must contain references to cats.</p>
			<input type="file" size="40"/>
		</div><!-- / darkpod -->
		
		<div id="message_subscribe" class="group darkpod clear">
			<label>Subscribe the following users to receive email notifications:</label>
			<input type="checkbox" size="40"/> <label class="checkbox">mattdetails</label>
			<input type="checkbox" size="40"/> <label class="checkbox">plankton
		</div><!-- / darkpod -->
		
		<button type="submit" class="btn"><span class="icon"></span><span>Post Message</span></button>
		<div class="btn_cancel">or <a href="">Cancel</a></div>

    <% end -%>			
	</div><!-- / bd -->
	</div><!-- / pod -->
</div><!-- / main-col -->

<div id="sidecol">
</div><!-- / sidecol -->