<% stylesheet :new_message %>
<% title @tournament.name %>
<% content_for :tournament_nav do -%>
  <%= render :partial => 'layouts/sub_nav', :locals => {:active => 'messages'} %>
<% end -%>

<div id="maincol">
	<div class="col">
	<div class="pod">
	<div class="hd">
 	 <h2>New Message</h2>
	</div>
	<div class="bd clear">
	  <% form_for @message, :url => tournament_messages_path(@tournament), :html => {:multipart => true} do |f| -%>
    <%= f.error_messages %>
	  <div id="message_main" class="group clear">
			<%= f.label :subject, "Title" %>
			<%= f.text_field :subject %>
			
			<%= f.label :post, "Post Body" %>
			<%= f.text_area :body, :size => '60x15' %>
			<%= f.check_box :is_announcement %> <%= f.label :is_announcement, "This message is an annoucnement", :style => 'display:inline' %>
			
		</div><!-- / darkpod -->
		
		<div id="message_attach" class="group darkpod clear">
			<label>Attach a File</label>
			<p class="note yellow_note">Files cannot be larger than 42 and must contain references to cats.</p>
			<% f.fields_for :attachments, Attachment.new do |attachment| -%>
        <%= attachment.file_field :attachment %>
			<% end -%>
		</div><!-- / darkpod -->
		
		<div id="message_subscribe" class="group darkpod clear">
			<p>Subscribe the following users to receive email notifications:</p>
			<ul>
				<li><input type="checkbox" size="40"/> <label class="checkbox">mattdetails</label></li>
				<li><input type="checkbox" size="40"/> <label class="checkbox">plankton</label></li>
			</ul>
		</div><!-- / darkpod -->
		
		<button type="submit" class="btn"><span class="icon"></span><span>Post Message</span></button>
		or <a href="">Cancel</a>
    <% end -%>			
	</div><!-- / bd -->
	</div><!-- / pod -->
	</div><!-- / col -->
</div><!-- / main-col -->

<div id="sidecol">
	<div class="col">
		<div class="pod">
		<div class="hd">
	 	 <h2>Options</h2>
		</div>
		<div class="bd clear">
			
			<div class="group">
			<h3>Categories</h3>
			<ul>
				<li><input type="checkbox" size="40"/> <label class="checkbox">Announcments</label></li>
				<li><input type="checkbox" size="40"/> <label class="checkbox">Disputes</label></li>
			</ul>
			</div>
			
			<div class="group">
			<h3>Private</h3>
			<span><input type="checkbox"> <label class="checkbox">Private to Hosts/Co-Hosts</label></span>
			</div>
		</div><!-- / bd -->
		</div><!-- / pod -->	
	</div><!-- / col -->
</div><!-- / sidecol -->