<% stylesheet :messages %>
<% title @tournament.name %>
<% content_for :tournament_nav do -%>
  <%= render :partial => "layouts/sub_nav", :locals => {:active => 'messages'} %>
<% end -%>

<div id="maincol">
	<div class="col">
	<div class="pod">
	<div class="bd clear">
	  
		<div id="message_header" class="clear">
		  <% if @message.is_announcement %>
	      <p id="message_category" class="cat_announcement">Announcement</p>
	    <% end %>
	   	<img src="/images/avatar_big.jpg" height="50" class="left" />
   	  <h2><%= @message.subject %></h2>
   	  <p class="gray">Posted by <%= @message.author.login %> <%= @message.created_at %></p>
	  </div>
	
	  <div id="message_body">
	    <p><%= @message.body %></p>
		  <%= render :partial => 'attachments/list', :locals => {:attachments => @message.attachments} %>
	  </div>
	
	<div id="comment_mod">
	  <ul class="group">
	    <% if !@message.comments.blank? %>
	      <%= render @message.comments %> <!-- renders partial in comments/_comment -->
	    <% end %>
	  </ul><!-- /comments ul -->
	
	  <div class="comment_form darkpod clear">
			<h4>Post a Comment</h4>
			<%= render :partial => 'comments/form' %>
		</div><!-- / darkpod -->
	</div><!-- / comment_mod -->
	  
	</div><!-- / bd -->
	</div><!-- / pod -->
	</div><!-- / col -->
</div><!-- / main-col -->

<div id="sidecol">
	<div class="col">
	</div><!-- / col -->
</div><!-- / sidecol -->