<% stylesheet :messages %>
<% body 'show_messages' %>
<% title @tournament.name %>
<% content_for :tournament_nav do -%>
  <%= render :partial => "layouts/sub_nav", :locals => {:active => 'messages'} %>
<% end -%>

<div id="maincol">
	<div class="col">
	<div class="pod">
	<div class="bd clear">
	  
		<div id="message_header" class="clear">
		  <% if @message.is_announcement %>
	      <p id="message_category" class="cat_announcement">Announcement</p>
	    <% end %>
	   	<%= image_tag @message.author.avatar.url(:medium) %>
   	  <h2><%= @message.subject %></h2>
   	  <p class="gray">Posted by <%= @message.author.login %> <span class="date" title="<%= @message.created_at.iso8601 %>"><%= @message.created_at.iso8601 %></span></p>
	  </div>
	
	  <div id="message_body">
	    <p><%= @message.body %></p>
		  <%= render :partial => 'attachments/list', :locals => {:attachments => @message.attachments} %>
	  </div>
	
	<div id="comment_mod">
	  <ul class="group">
	    <% if !@message.comments.blank? %>
	      <%= render @message.comments %> <!-- renders partial in comments/_comment -->
	    <% end %>
	  </ul><!-- /comments ul -->
	
	  <div class="comment_form clear">
			<h4><%= image_tag @message.author.avatar.url(:medium) %>Post a Comment</h4>
			<%= render :partial => 'comments/form', :locals => {:post_url => [@tournament, @message, Comment.new]} %>
		</div><!-- / darkpod -->
	</div><!-- / comment_mod -->
	  
	</div><!-- / bd -->
	</div><!-- / pod -->
	</div><!-- / col -->
</div><!-- / main-col -->

<div id="sidecol">
	<div class="col">
	</div><!-- / col -->
</div><!-- / sidecol -->