<li class="comment pod darkpod">
  <div class="comment_header">
   <%= image_tag comment.author.avatar.url(:large) %>
   <h3><%= comment.author.login %> says:</h3>
   <p>posted <span class="date" title="<%= comment.created_at.iso8601 %>"><%= comment.created_at %></span></p>
  </div>
  <div class="comment_body">
    <p><%=simple_format comment.body %></p>
		<%= render :partial => 'attachments/list', :locals => {:attachments => comment.attachments} %>
  </div>
</li>