<body id="signup">
<div id="wrapper">
	<% form_for @user, :url => '/signup' do |f| -%>
		<ul class="section">
			<li class="error_wrapper"><%= f.error_messages %></li>
			<li>
				<%= f.label :login, "Username" %>
				<%= f.text_field :login, :class => 'text' %>
			</li>
			<li>	
				<%= f.label :email, "Email" %>
				<%= f.text_field :email, :class => 'text' %>
			</li>
			<li>	
				<%= f.label :password, "Password" %>
				<%= f.password_field :password, :class => 'text' %>
			</li>
			<li>	
				<%= f.label :password_confirmation, "Confirm Password" %>
				<%= f.password_field :password_confirmation, :class => 'text' %>
			</li>
			<li>
		</ul>
	
				<button class="btn" type="submit"><span class="icon"></span><span>Signup</span></button>
				
				<%= f.check_box :terms_of_service, :id => 'agree_terms' %>
				<label for="agree_terms">I Agree to the <a target="_blank" href="http://www.google.com">Terms of Service</a>.</label>
		<% end -%>
</div><!-- / wrapper -->