<body id="signup">
<div id="wrapper">
	<% form_for @user do |f| -%>
	  <%= hidden_field_tag :ref, params[:ref] || @ref %>
	<ul class="section">
		<li class="header">
			<img src="/images/signup_icon_battleid.png" />
			<h1>Create your BattleID</h1>
			<p>Some info shit about this remarkable fucking idea. Fuck yeah.</p>
		</li>
		<li class="error_wrapper"><%= f.error_messages %></li>
		<li>
			<%= f.label :login, "Username" %>
			<%= f.text_field :login %>
		</li>
		<li>	
			<%= f.label :email, "Email" %>
			<%= f.text_field :email %>
		</li>
		<li>	
			<%= f.label :password, "Password" %>
			<%= f.password_field :password %>
		</li>
		<li>	
			<%= f.label :password_confirmation, "Confirm Password" %>
			<%= f.password_field :password_confirmation %>
		</li>
	</ul>

	<div id="beta_terms">
		<%= f.check_box :terms_of_service, :id => 'agree_terms' %>
		<label for="agree_terms">I Agree to the <a target="_blank" href="">Terms of Service</a>.</label>
		<% end -%>
	</div><!-- // beta_terms -->
	<button class="btn" type="submit"><span class="icon"></span><span>Signup</span></button>
</div><!-- / wrapper -->