<body id="signup">
<div id="signup_wrap">
  <div class="hd">
    <h1>Create your BattleID</h1>
  </div>
	<% form_for @user do |f| -%>
	  <%= hidden_field_tag :ref, params[:ref] || @ref %>
	<div class="section">
		  <div class="error_wrapper"><%= f.error_messages %></div>
			<p><label><%= f.label :login, "Username" %></label><%= f.text_field :login %> <span>Must be at least 4 characters.</span></p>
			<p><label><%= f.label :email, "Email" %></label><%= f.text_field :email %> <span>Must be a valid email address.</span></p>
			<p><label><%= f.label :password, "Password" %></label><%= f.password_field :password %> <span>Must be at least 7 characters.</span></p>
			<p><label><%= f.label :password_confirmation, "Confirm Password" %></label><%= f.password_field :password_confirmation %></p>
	</div><!-- / section -->
<% end -%>
	<div id="signup_finish">
    <p>By clicking Create my BattleID you agree to the <a href="http://thebattlecenter.com/terms">Terms of Service</a> &amp; <a href="http://thebattlecenter.com/privacy">Privacy</a>.</p>
    <p><button type="submit">Create my BattleID</button></p>
  </div><!-- /signup_finish -->
</div><!-- / wrapper -->