<body id="signup">
<div id="wrapper">
	<% form_for @user, :url => '/signup' do |f| -%>
	<ul class="section">
		<li class="header">
			<img src="/images/signup_icon_account.png" />
			<h1>Create your account</h1>
			<p>This is the master log-in for your account.</p>
		</li>
		<li class="error_wrapper"><%= f.error_messages %></li>
		<li>
			<label>Organization Name:</label>
			<input type="text">
		</li>
		<li id="account_url" class="last">
			<label>Account URL:</label>
			<input type="text"><em>.</em>
			<select><option>tbbonline</option></select>
			<em>.com</em>
		</li>
	</ul>
	<ul class="section">
		<li class="header">
			<img src="/images/signup_icon_battleid.png" />
			<h1>Create your BattleID</h1>
			<p>Some info shit about this remarkable fucking idea. Fuck yeah.</p>
		</li>
		<li class="error_wrapper"><%= f.error_messages %></li>
		<li>
			<%= f.label :login, "Username" %>
			<%= f.text_field :login %>
		</li>
		<li>	
			<%= f.label :email, "Email" %>
			<%= f.text_field :email %>
		</li>
		<li>	
			<%= f.label :password, "Password" %>
			<%= f.password_field :password %>
		</li>
		<li>	
			<%= f.label :password_confirmation, "Confirm Password" %>
			<%= f.password_field :password_confirmation %>
		</li>
		<li class="last">
			<label>Game Handle:</label>
			<input type="text">
		</li>
	</ul>
	
	<ul class="section">
		<li class="header">
			<img src="/images/signup_icon_billing.png" />
			<h1>Billing Information</h1>
			<p>You're shit is fucking secure dude, no worries. Don't even sweat it bro.</p>
		</li>
		<li class="error_wrapper"><%= f.error_messages %></li>
		<li>
			<label>Name on Card</label>
			<input type="text">
		</li>
		<li>
			<label>Card Number</label>
			<input type="text">
		</li>
		<li class="dropdown">
			<label>Expiration</label>
			<select><option>1</option></select> <select><option>2009</option></select>
		</li>
		<li>
			<label>Address 1:</label>
			<input type="text">
		</li>
		<li>
			<label>Address 2:</label>
			<input type="text">
		</li>
		<li>
			<label>City:</label>
			<input type="text">
		</li>
		<li class="dropdown">
			<label>State/Province:</label>
			<select><option>Wisconsin</option></select>
		</li>
		<li>
			<label>Zip/Postal Code:</label>
			<input type="text">
		</li>
		<li class="dropdown">
			<label>Country:</label>
			<select><option>United fucking States</option></select>
		</li>
		<li class="last">
			<label>Phone:</label>
			<input type="text">
		</li>
	</ul>
	
	<ul class="section">
		<li class="header">
			<img src="/images/signup_icon_confirm.png" />
			<h1>Confirm</h1>
			<p>Make sure your shit is correct yo. Don't want any fuck ups around here.</p>
		</li>
		<li class="error_wrapper"><%= f.error_messages %></li>
		s
	</ul>
	
	<button class="btn" type="submit"><span class="icon"></span><span>Signup</span></button>
				
	<%= f.check_box :terms_of_service, :id => 'agree_terms' %>
	<label for="agree_terms">I Agree to the <a target="_blank" href="http://www.google.com">Terms of Service</a>.</label>
	<% end -%>
</div><!-- / wrapper -->