<% stylesheet :profile %>
<% body 'profile' %>
<% @title = @user.name %>

<% content_for :modals do %>
<div id="change_avatar" class="modal">
		<div class="modal_hd">
			<a class="modal_close" href=""><img src="/images/icon_close.gif" /></a>
			<h1>Change Avatar</h1>
		</div><!-- / modal_hd -->
	<div class="modal_inner">
			<div class="clear">
			  <% form_for @user, :html => {:multipart => true} do |f| -%>
			    <%= f.file_field :avatar %>
			    <button type="submit" class="btn"><span class="icon"></span><span>Upload</span></button>
			  <% end -%>
			</div>
	</div><!-- / modal_inner -->
</div><!-- / modal -->
<% end %>

<script>
  function editField(field) {
    $("#"+field+"_show").hide();
    $("#"+field+"_edit").show();
    $("#user_"+field).focus();
  }
  function showField(field) {
    $("#"+field+"_show").show();
    $("#"+field+"_edit").hide();
  }
  $(function() {
    $("a.edit_field").click(function(e) {
      e.preventDefault();
      editField($(this).metadata()['field']);
    });
    $("a.show_field").click(function(e) {
      e.preventDefault();
      showField($(this).metadata()['field']);
    });
    $("a.save_field").click(function(e) {
      e.preventDefault();
      var field = $('#user_'+$(this).metadata().field);
      data = [
        {name: 'authenticity_token', value:'<%= form_authenticity_token %>'},
        {name: '_method', value:'put'},
        {name: field.attr('name'), value: field.attr('value')}
      ];
      $.post('<%= user_path(@user) %>', data, null, 'script');
    });
    <% if current_user && @user == current_user %>
      $("a.edit_field").show();
    <% end %>
  });
</script>
<div id="maincol">
	<div class="col">
		<div class="pod">
		  <div class="bd clear">
		    <% form_for(@user) do |f| %>
				  <div class="user_avatar"><%= image_tag @user.avatar.url(:large) %><a class="user_edit" href="#change_avatar" rel="modal">Edit</a></div>
				  <div class="user_profile">
				    <label>BattleID</label>
				    <p><%= @user.login %></p>
				    <%= f.label(:name) %>
				    <p id="name_show"><span id="name_static"><%= h @user.name %></span> <a href="#" style="display: none" class="edit_field" rel="{field: 'name'}">Edit</a></p>
				    <p id="name_edit" style="display: none"><%= f.text_field(:name) %> <a href="#" class="save_field" rel="{field: 'name'}">Save</a> | <a href="#" class="show_field" rel="{field: 'name'}">Cancel</a></p>
				    <%= f.label(:email) %>
				    <p class="last" id="email_show"><span id="email_static"><%= h @user.email %></span> <a href="#" style="display: none" class="edit_field" rel="{field: 'email'}">Edit</a></p>
				    <p class="last" id="email_edit" style="display: none"><%= f.text_field(:email) %> <a href="#" class="save_field" rel="{field: 'email'}">Save</a> | <a href="#" class="show_field" rel="{field: 'email'}">Cancel</a></p>
				  </div>
		    <% end %>
		  </div><!-- / bd -->
		</div><!-- / pod -->
 </div><!-- / col -->
</div><!-- / main-col -->
<div id="sidecol">
	<div class="col">
	</div><!-- / col -->
</div><!-- / sidecol -->
