<% javascript 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js' %>
<% javascript 'jquery.pulse' %>
<% stylesheet :brackets %>

<% content_for :tournament_nav do -%>
  <%= render :partial => "layouts/sub_nav", :locals => {:active => 'brackets'} %>
<% end -%>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
      $('.player:not(:contains("TBD")):not(:contains("Disputed"))').hover(
        function(){
          box = $("a:contains('" + $(this).text() + "')")
          box.addClass('hover')
          
          cog = $(this).find('.manage_player_link')
          cog.css({
            position: 'absolute',
            top: $(this).offset().top + 7,
            left: $(this).offset().left + $(this).width() - 7
          })
          cog.fadeIn()
          
          match = box.parent().parent().parent()
          match.each(function(i){
            if (++i != match.size()){
              $(this).prepend($('<div class="highlight"></div>').css({left: $(this).offset().left + 141 + 'px'}))
            }
          })    
        }, //end hover in
        function(){
          $("a:contains('" + $(this).text() + "')").removeClass('hover')
          $(".highlight").remove()
          $('.manage_player_link').hide()
        } //end hover out
      )
    
      $('.player#me').pulse({opacityRange: [0.5, 1.0]})
    })


  $(document).ready(function(){
    $('.player#me').pulse({opacityRange: [0.5, 1.0]})
  })
</script>

<% title "Valor Tournament" %>

<div id="maincol" class="full_width clear">
	<div class="col">
  <div id="brackets" class="bd clear">
    
  	  <div id="bracket_window" class="clear">
	
  	  <% if @tournament.started? %>

		  	<% for round in @rounds %>
	        <ul class="round" id="r<%= round.number %>">
	          <li class="round_header"><a class="round_info" href="">Round Info</a> <h3>Round <%= round.number %></h3></li>
	          <li class="round_date">
	            <span class="date">6/14/09 12:23PM</span>
	            <a href="#">change</a>
	          </li>
          
	          <% for match in round.matches %>
	            <%= render :partial => 'match', :locals => {:match => match} %>
	          <% end %>
	        </ul>
		  	<% end %>
		
				<ul class="round final" id="r<%= @rounds.size + 1 %>">
					<li class="round_header"><a class="round_info" href="">Round Info</a> <h3>Winner</h3></li>
          <li class="round_date">
            <span class="date">6/14/09 12:23PM</span>
            <a href="#">change</a>
          </li>

					<li class="match">
						<ul>
							<%= render :partial => 'player', :locals => {:player => nil} %>
						</ul>
					</li>
				</ul>
				
      <% else %>
        <p id="not_started_message">This tournament hasn't started yet.</p>
      <% end %>
   	  </div>
  
  </div><!-- / bd -->
</div><!-- / col -->
</div><!-- / main-col -->
<!-- / sidecol -->