<% content_for :head do -%>
<%= stylesheet_link_tag 'new_tournament' %>
<% end -%>

<% content_for :tournament_nav do -%>
  <%= render :partial => "layouts/sub_nav" %>
<% end -%>

<% title "New Tournament" %>

<script type="text/javascript" charset="utf-8">
  function updateRounds() {
    r = Math.log(parseInt($('#tournament_slot_count').val()))/Math.log(2);
    for(i = 0; i < 5; i++) {
      row = $('#round_'+(i+1)+'_canvas');
      if (i < r)
        row.show();
      else
        row.hide();
    }
  }
  
  // convert a Rails Date set of fields into a yyyy-mm-dd date string
  // object is a string representation of the model
  // 'field' here is the model attribute name
  function getDateFieldValue(obj, field) {
    year = parseInt($('input[name="'+obj+'['+field+'(1i)]"]').val());
    month = parseInt($('input[name="'+obj+'['+field+'(2i)]"]').val());
    day = parseInt($('input[name="'+obj+'['+field+'(3i)]"]').val());
    date = year+"-"+month+"-"+day;
    if (date.match(RegExp(/^\d{4}\-\d{1,2}\-\d{1,2}$/)))
      return date;
    else
      return false;
  }
  
  upCal = false;
  upCalField = false;
  function updateCalendar() {
    clearTimeout(upCal);
    upCalField = $(this);
    setTimeout('realUpdateCalendar()', 2000);
  }
  
  function realUpdateCalendar() {
    args = [];
    field = null;
    f = upCalField;
    switch(f.attr('id').replace('tournament_registration_', '')) {
      case 'start_date_year':
      case 'start_date_month':
      case 'start_date_day':
        field = 'registration_start_date'; break;
      case 'end_date_year':
      case 'end_date_month':
      case 'end_date_day':
        field = 'registration_end_date'; break;
    }
    for(i = 0; i < 5 ; i++) {
      switch(f.attr('id').replace('tournament_rounds_', '')) {
        case i+'_start_date_year':
        case i+'_start_date_month':
        case i+'_start_date_day':
          field = 'rounds_'+i+'_start_date'; break;
      }
    }
    if(field == 'registration_start_date' && !getDateFieldValue('tournament', 'registration_start_date'))
      return false;
    if(field == 'registration_end_date' && !getDateFieldValue('tournament', 'registration_end_date'))
      return false;
    for(i = 0; i < Math.log(parseInt($('#tournament_slot_count').val()))/Math.log(2); i++) {
      if(field == 'registration_end_date' && !getDateFieldValue('tournament[rounds_attributes]['+i+']', 'start_date'))
        return false;
    }
    args.push({name: 'field', value: field});
    args.push({name: 'registration_start_date', value: getDateFieldValue('tournament', 'registration_start_date')});
    args.push({name: 'registration_end_date', value: getDateFieldValue('tournament', 'registration_end_date')});
    for(i = 0; i < Math.log(parseInt($('#tournament_slot_count').val()))/Math.log(2); i++)
      args.push({name: 'rounds_'+i+'_start_date', value: getDateFieldValue('tournament[rounds_attributes]['+i+']', 'start_date')});
    jQuery.ajax({
      success:function(request){
        jQuery('#calendar_canvas').html(request);
      },
      type:'get',
      data: args,
      url:'<%= calendar_tournaments_path %>'
    });
  }
  
  $(document).ready(function(){
    
    $('input#tournament_name').keyup(function(e){
      $('h2#page_title').text($(e.target).val())
    })
    
    $('#load_template_btn').click(function(event){
      event.preventDefault()
      window.location.search = 't=' + $('#template_id').val()
    })
    
    $("td.date input[type='text']").bind('keyup', updateCalendar);
    $("td.time input[type='text']").change(updateCalendar);
    
    updateRounds();
  })
</script>

<% content_for :modals do %>
  <div id="rules_example" class="modal">
  		<div class="modal_hd">
  			<a class="modal_close" href=""><img src="/images/icon_close.gif" /></a>
  			<h1>An Example Rules Page</h1>
  		</div><!-- / modal_hd -->
  	<div class="modal_inner">
  			<div class="clear">
  			  HAHAHAHAHAHAHAHAHAHAHAHAHAHAHA!!!!!!
  			</div>
  	</div><!-- / modal_inner -->
  </div><!-- / modal -->
<% end %>

<div id="maincol">
	<div class="col">
	<div id="new_tournament">
		<!-- Step 1 -->
		<% form_for @tournament do |f| -%>
		<%= f.error_messages %>
		<h3>Name &amp; Game</h3>
		<div id="tournament_name" class="pod clear">
		<div class="bd">
		  
			<div class="group"><%= f.text_field :name, :size => 35 %> <%= f.label :name, "Tournament Name" %></div>
			<div><%= f.text_field :game, :size => 35 %> <%= f.label :game, "Game" %></div>
			
		</div><!-- / bd -->
		</div><!-- / pod -->
		<!-- / Step 1 -->
		
		<!-- Step 2-->
		<h3>Rules</h3>
		<div id="tournament_rules" class="pod clear">
		<div class="bd">
			<%= f.text_area :rules %>
		</div><!-- / bd -->
		</div><!-- / pod -->
		<!-- / Step 2 -->
		
		<!-- Step 4 -->
		<h3>Prizes &amp; Fees</h3>
		<div id="tournament_prize" class="pod clear">
		<div class="bd">
			
			<div><%= f.label :first_prize, "1st Place" %></div>
			<div class="group"><%= f.text_field :first_prize, :size => 55 %></div>
			<div><%= f.label :second_prize, "2nd Place" %></div>
			<div class="group"><%= f.text_field :second_prize, :size => 55 %></div>
			<div><%= f.label :third_prize, "3rd Place" %></div>
			<div class="group"><%= f.text_field :third_prize, :size => 55 %></div>
			<div class="group"><%= f.label :entry_fee, "Entry Fees" %><strong>$</strong> <%= f.text_field :entry_fee, :size => 15 %></div>
			<div><%= f.label :other_prizes, "Other Prizes", :class => 'textarea' %></div>
			<div><%= f.text_area :other_prizes, :size => "88x15" %></div>
		</div><!-- / bd -->
		</div><!-- / pod -->
		<!-- / Step 4 -->
		
		<div style="margin: -20px 0 5px 0;">
		  <div class="clear" style="float: left;">
		    
		    <a href="#delete_tournament" id="delete_btn" rel="modal">Delete Tournament</a>
  	    <p id="delete_warning">Warning: This action can not be reversed.</p>
  	   </div>
		   <div style="float: right;"><button type="submit" class="btn"><span class="icon"></span><span>Save Changes</span></button></div>
		 
		</div>
	</div>
	<% end -%>
	</div><!-- / col -->
</div><!-- / main-col -->

<div id="sidecol">
	<div class="col">
	<div class="beta pod rules_tips">
	<div class="hd">
		<h2>Rules - Tips &amp; Tricks</h2>
	</div><!-- / hd -->
	<span class="arrow_pod2pod"></span>
	<div class="bd clear">
	<h4>Example HTML Usage</h4>
	  <ul>
	    <li><em class="code">&lt;strong&gt;</em> - will <strong>bold</strong> words.<em class="code">&lt;/strong&gt;</em></li>
	    <li><em class="code">&lt;a href="http://"&gt;</em> - will <a href="http://www.google.com">create a link</a> <em class="code">&lt;/a&gt;</em>.</li>
	    <li><em class="code">&lt;i&gt;</em> - will <i>italize</i> words.<em class="code">&lt;/i&gt;</em></li>
	  </ul>
	  <a class="btn" href="#rules_example" rel="modal"><span class="icon"></span><span>Example Rules Page</span></a>
	</div><!-- / bd -->
	</div><!-- / pod -->
	
	<div class="pod prizes_tips">
	<div class="hd">
		<h2>Prizes &amp; Fees</h2>
	</div><!-- / hd -->
	<span class="arrow_pod2pod"></span>
	<div class="bd">
	  <p>Enter your prizes below. Prizes do not have to be numerical. Any other prize details should be placed in “Other Prizes” section. Enter an entry fee if you require users to pay an entry fee in order to participate.</p>
    <ul>
      <li>1st: $1000</li>
      <li>2nd: $500</li>
      <li>3rd: $250</li>
      <li>Entry Fee: $50</li>
      <li>Other Prize: All registered participants will receive a free T-Shirt for participation.</li>
    </ul>
	</div><!-- / bd -->
	</div><!-- / pod -->
	
	</div><!-- / col -->
</div><!-- / sidecol -->
