<% content_for :head do -%>
<%= stylesheet_link_tag 'new_tournament' %>
<% end -%>

<% title "New Tournament" %>

<script type="text/javascript" charset="utf-8">
  function updateRounds() {
    r = Math.log(parseInt($('#tournament_slot_count').val()))/Math.log(2);
    for(i = 0; i < 5; i++) {
      row = $('#round_'+(i+1)+'_canvas');
      if (i < r)
        row.show();
      else
        row.hide();
    }
  }
  
  // convert a Rails Date set of fields into a yyyy-mm-dd date string
  // object is a string representation of the model
  // 'field' here is the model attribute name
  function getDateFieldValue(obj, field) {
    year = parseInt($('input[name="'+obj+'['+field+'(1i)]"]').val());
    month = parseInt($('input[name="'+obj+'['+field+'(2i)]"]').val());
    day = parseInt($('input[name="'+obj+'['+field+'(3i)]"]').val());
    date = year+"-"+month+"-"+day;
    if (date.match(RegExp(/^\d{4}\-\d{1,2}\-\d{1,2}$/)))
      return date;
    else
      return false;
  }
  
  upCal = false;
  upCalField = false;
  function updateCalendar() {
    clearTimeout(upCal);
    upCalField = $(this);
    setTimeout('realUpdateCalendar()', 2000);
  }
  
  function realUpdateCalendar() {
    args = [];
    field = null;
    f = upCalField;
    switch(f.attr('id').replace('tournament_registration_', '')) {
      case 'start_date_year':
      case 'start_date_month':
      case 'start_date_day':
        field = 'registration_start_date'; break;
      case 'end_date_year':
      case 'end_date_month':
      case 'end_date_day':
        field = 'registration_end_date'; break;
    }
    for(i = 0; i < 5 ; i++) {
      switch(f.attr('id').replace('tournament_rounds_', '')) {
        case i+'_start_date_year':
        case i+'_start_date_month':
        case i+'_start_date_day':
          field = 'rounds_'+i+'_start_date'; break;
      }
    }
    if(field == 'registration_start_date' && !getDateFieldValue('tournament', 'registration_start_date'))
      return false;
    if(field == 'registration_end_date' && !getDateFieldValue('tournament', 'registration_end_date'))
      return false;
    for(i = 0; i < Math.log(parseInt($('#tournament_slot_count').val()))/Math.log(2); i++) {
      if(field == 'registration_end_date' && !getDateFieldValue('tournament[rounds_attributes]['+i+']', 'start_date'))
        return false;
    }
    args.push({name: 'field', value: field});
    args.push({name: 'registration_start_date', value: getDateFieldValue('tournament', 'registration_start_date')});
    args.push({name: 'registration_end_date', value: getDateFieldValue('tournament', 'registration_end_date')});
    for(i = 0; i < Math.log(parseInt($('#tournament_slot_count').val()))/Math.log(2); i++)
      args.push({name: 'rounds_'+i+'_start_date', value: getDateFieldValue('tournament[rounds_attributes]['+i+']', 'start_date')});
    jQuery.ajax({
      success:function(request){
        jQuery('#calendar_canvas').html(request);
      },
      type:'get',
      data: args,
      url:'<%= calendar_tournaments_path %>'
    });
  }
  
  $(document).ready(function(){
    
    $('input#tournament_name').keyup(function(e){
      $('h2#page_title').text($(e.target).val())
    })
    
    $('#load_template_btn').click(function(event){
      event.preventDefault()
      window.location.search = 't=' + $('#template_id').val()
    })
    
    $("td.date input[type='text']").bind('keyup', updateCalendar);
    $("td.time input[type='text']").change(updateCalendar);
    
    updateRounds();
  })
</script>

<% content_for :modals do %>
  <div id="load_template" class="modal">
  		<div class="modal_hd">
  			<a class="modal_close" href=""><img src="/images/icon_close.gif" /></a>
  			<h1>Load Template</h1>
  		</div><!-- / modal_hd -->
  	<div class="modal_inner">
  			<div class="clear">
  			  <%= select_tag :template_id, options_for_select( @instance.templates.map {|t| [t.name, t.id]}) %>
  			  <%= button_link_to 'Load', '#', '', :id => 'load_template_btn' %>
  			</div>
  	</div><!-- / modal_inner -->
  </div><!-- / modal -->
<% end %>

<div id="maincol">
	<div class="col">
	<div id="new_tournament">
		<!-- Step 1 -->
		<% form_for @tournament do |f| -%>
		<%= f.error_messages %>
		<div id="tournament_name" class="pod step clear">
		<div class="bd">
			<div class="clear">
				<h4><em>Name &amp; Game</em></h4>
			</div>
			
			<p class="note yellow_note">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet velit quis magna ornare imperdiet.<a class="note-close" href="">X</a></p>
			
			<div><%= f.text_field :name %> <%= f.label :name, "Tournament Name" %></div>
			<div><%= f.text_field :game %> <%= f.label :game, "Game" %></div>
			
		</div><!-- / bd -->
		</div><!-- / pod -->
		<!-- / Step 1 -->
		
		<!-- Step 2-->
		<div id="tournament_rules" class="pod step clear">
		<div class="bd">
			<div class="clear">
				<h4><em>The Rules</em></h4>
			</div>
			<p class="note yellow_note">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet velit quis magna ornare imperdiet.<a class="note-close" href="">X</a></p>
			<%= f.label :rules, "Rules", :class => 'textarea lg' %>
			<%= f.text_area :rules %>
			
		</div><!-- / bd -->
		</div><!-- / pod -->
		<!-- / Step 2 -->
		
		<!-- Step 3 -->
		<div id="tournament_players" class="pod step clear">
		<div class="bd">
			<div class="clear">
				<h4><em>Players &amp; Teams</em></h4>
			</div>
			<p class="note yellow_note">Lorem ipsum dolor sit amet, consectetur adipiscing elit.<a class="note-close" href="">X</a></p>
			
			  <div class="group">
			    <%= f.check_box :use_teams, :onclick => '($(this).attr("checked"))?$("#players_per_team_canvas").show():$("#players_per_team_canvas").hide();'  %>
			    <%= f.label :use_teams, "Enable Teams", :class => 'checkbox' %>
			  </div>
			
				<div style="<%= 'display: none;' unless @tournament.use_teams? %>" id="players_per_team_canvas">
					<%= f.text_field :players_per_team %> <%= f.label :players_per_team, "How many players per team?" %>
				</div>
				
				<div class="block"><%= f.select :slot_count, [4, 8, 16, 32], {}, :onchange => 'updateRounds();' %> <%= f.label :slot_count, "Maximum Slots" %></div>
			</div><!-- / bd -->
			</div><!-- / pod -->
		<!-- / Step 3 -->
		
		<!-- Step 4 -->
		<div id="tournament_prize" class="pod step clear">
		<div class="bd">
			<div class="clear">
				<h4><em>Prizes &amp; Fees</em></h4>
			</div>
			<p class="note yellow_note">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet velit quis magna ornare imperdiet. Cras fermentum tellus non lectus molestie at laoreet mauris congue. Donec lacus libero, elementum in posuere ut, feugiat posuere erat.<a class="note-close" href="">X</a></p>
			
			<div><%= f.label :first_place_prize, "1st Place" %></div>
			<div><%= f.text_field :first_place_prize, :size => 55 %></div>
			<div><%= f.label :second_place_prize, "2nd Place" %></div>
			<div><%= f.text_field :second_place_prize, :size => 55 %></div>
			<div><%= f.label :third_place_prize, "3rd Place" %></div>
			<div><%= f.text_field :third_place_prize, :size => 55 %></div>
			<div><%= f.label :entry_fee, "Entry Fees" %><%= f.text_field :entry_fee, :size => 15 %></div>
			<div><%= f.label :other_prizes, "Other Prizes", :class => 'textarea' %></div>
			<div><%= f.text_area :other_prizes, :size => "88x15" %></div>
		</div><!-- / bd -->
		</div><!-- / pod -->
		<!-- / Step 4 -->
		
		<!-- Step 5 -->
		<div id="tournament_dates" class="pod step clear">
		<div class="bd">
			<div class="clear">
				<h4><em>The Dates</em></h4>
			</div>
			
			<p class="note yellow_note">Consectetur adipiscing elit. Curabitur sit amet velit quis magna ornare imperdiet. Cras fermentum tellus non lectus molestie at laoreet mauris congue.<a class="note-close" href="">X</a></p>
			<div class="clear">
		    <div id="calendar_canvas">
      		<%= render :partial => 'layouts/calendar', :locals => {:show_date => @tournament.registration_start_date} %>
        </div>
				
				<div class="tournament_dates">
				  <table>
						<tr>
							<th>&nbsp;</th>
							<td class="date">&nbsp;</td>
							<td class="edit">&nbsp;</td>
						</tr>
						<tr>
							<th><span class="swatch" style="background-color: #00c277;">&nbsp;</span> Registration Start:</th>
							<td class="date">
							  <input type="text" class="date_month" name="tournament[registration_start_date(2i)]" id="tournament_registration_start_date_month" title="mm" maxlength="2" value="<%= @tournament.registration_start_date.try(:month) %>" />
							  / <input type="text" class="date_day" name="tournament[registration_start_date(3i)]" id="tournament_registration_start_date_day" title="dd" maxlength="2" value="<%= @tournament.registration_start_date.try(:day) %>" />
							  / <input type="text"  class="date_year"name="tournament[registration_start_date(1i)]" id="tournament_registration_start_date_year" title="yyyy" maxlength="4" value="<%= @tournament.registration_start_date.try(:year) %>" />
							</td>
							<td class="edit"><a href="">Edit</a></td>
						</tr>
						<tr>
							<th><span class="swatch" style="background-color: #00673f;">&nbsp;</span> Registration End:</th>
							<td class="date">
							  <input type="text" class="date_month" name="tournament[registration_end_date(2i)]" id="tournament_registration_end_date_month" title="mm" maxlength="2" value="<%= @tournament.registration_end_date.try(:month) %>" />
							  / <input type="text" class="date_day" name="tournament[registration_end_date(3i)]" id="tournament_registration_end_date_day" title="dd" maxlength="2" value="<%= @tournament.registration_end_date.try(:day) %>" />
							  / <input type="text"  class="date_year"name="tournament[registration_end_date(1i)]" id="tournament_registration_end_date_year" title="yyyy" maxlength="4" value="<%= @tournament.registration_end_date.try(:year) %>" />
							</td>
							<td class="edit"><a href="">Edit</a></td>
						</tr>
						<% 0.upto(4) do |n| %>
						  <tr class="time" id="round_<%= n+1 %>_canvas" style="display: none;">
							  <th>Round #<%= n+1 %> Start Time:</th>
							  <td class="time">
							    <input type="text" class="date_month" name="tournament[rounds_attributes][<%= n %>][start_date(2i)]" id="tournament_rounds_<%= n %>_start_date_month" title="mm" maxlength="2" value="<%= @tournament.rounds[n].start_date.try(:month) if @tournament.rounds[n] %>" />
							    / <input type="text" class="date_day" name="tournament[rounds_attributes][<%= n %>][start_date(3i)]" id="tournament_rounds_<%= n %>_start_date_day" title="dd" maxlength="2" value="<%= @tournament.rounds[n].start_date.try(:day) if @tournament.rounds[n] %>" />
							    / <input type="text" class="date_year" name="tournament[rounds_attributes][<%= n %>][start_date(1i)]" id="tournament_rounds_<%= n %>_start_date_year" title="yyyy" maxlength="4" value="<%= @tournament.rounds[n].start_date.try(:year) if @tournament.rounds[n] %>" />
							    - <input type="text" class="date_hour" name="tournament[rounds_attributes][<%= n %>][start_date(4i)]" id="tournament_rounds_<%= n %>_start_date_hour" title="hh" maxlength="2" />
							    : <input type="text" class="date_minutes" name="tournament[rounds_attributes][<%= n %>][start_date(5i)]" id="tournament_rounds_<%= n %>_start_date_minutes" title="mm" maxlength="2" />
							    <input type="radio" value="AM" id="tournament_rounds_<%= n %>_start_date_p_am" name="tournament[rounds_attributes][<%= n %>][start_date(6i)]" <%= "checked='checked'" if @tournament.rounds[n] && @tournament.rounds[n].start_time.try(:hour).to_i < 12 %>/>
							    <label for="tournament_rounds_<%= n %>_start_date_p_am">AM
							    <input type="radio" value="PM" id="tournament_rounds_<%= n %>_start_date_p_pm" name="tournament[rounds_attributes][<%= n %>][start_date(6i)]" <%= "checked='checked'" if @tournament.rounds[n] && @tournament.rounds[n].start_time.try(:hour).to_i >= 12 %>/>
							    <label for="tournament_rounds_<%= n %>_start_date_p_pm">PM
							    <input type="hidden" name="tournament[rounds_attributes][<%= n %>][number]" value="<%= n %>" />
							  </td>
							  <td class="edit"><a href="">Edit</a></td>
						  </tr>
					  <% end %>
					</table>
			  </div><!-- / tournament_dates -->
			</div><!-- / clear -->
			<button type="submit" class="btn"><span class="icon"></span><span>Create Tournament</span></button>
			<%= f.check_box :is_template %> <%= f.label :is_template, 'Save this tournament as a Template.' %>
		</div><!-- / bd -->
		</div><!-- / pod -->
		<!-- / Step 5 -->
	</div>
	<% end -%>
	</div><!-- / col -->
</div><!-- / main-col -->

<div id="sidecol">
	<div class="col">
	<div class="save_wrapper clear">
		<ul>
			<li><a class="rc biglink wh" href="/preview/tournament/new/">Save as Template</a></li>
			<li><a class="rc biglink bl" href="#load_template" rel="modal">Load from Template</a></li>
		</ul>
	</div><!-- / save_wrapper -->
	
	<div class="pod">
	<div class="hd">
		<h2>What are Templates?</h2>
	</div><!-- / hd -->
	<div class="bd">
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet velit quis magna ornare imperdiet. Cras fermentum tellus non lectus molestie at laoreet mauris congue. Donec lacus libero, elementum in posuere ut, feugiat posuere erat.</p>
	</div>
	</div>
	</div><!-- / col -->
</div><!-- / sidecol -->
