<% content_for :head do -%>
<%= stylesheet_link_tag 'new_tournament' %>
<% end -%>

<% title "New Tournament" %>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
    
    $('input#tournament_name').keyup(function(e){
      $('h2#page_title').text($(e.target).val())
    })
    
    
    $('input#tournament_teams').change(function(e){
      $('#tournament_players_per_team').parent().toggle()
    })
  })
</script>

<div id="load_template" class="modal">
  <select>
    <option>Select a Template...</option>
    <option>Awesomeness</option>
    <option>Valor</option>
    <option>Starcraft 2</option>
  </select>
  <button type="submit">Load</button>
  or <a href="#">cancel</a>
</div>

<div id="maincol">
	<div class="col">
	<div id="new_tournament">
		<!-- Step 1 -->
		<% form_for @tournament do |f| -%>
		<%= f.error_messages %>
		<div id="tournament_name" class="pod step clear">
		<div class="bd">
			<div class="clear">
				<h4><em>Name &amp; Game</em></h4>
			</div>
			
			<p class="note yellow_note">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet velit quis magna ornare imperdiet.<a class="note-close" href="">X</a></p>
			
			<div><%= f.text_field :name %> <%= f.label :name, "Tournament Name" %></div>
			<div><%= f.text_field :game %> <%= f.label :game, "Game" %></div>
			
		</div><!-- / bd -->
		</div><!-- / pod -->
		<!-- / Step 1 -->
		
		<!-- Step 2-->
		<div id="tournament_rules" class="pod step clear">
		<div class="bd">
			<div class="clear">
				<h4><em>The Rules</em></h4>
			</div>
			<p class="note yellow_note">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet velit quis magna ornare imperdiet.<a class="note-close" href="">X</a></p>
			<%= f.label :rules, "Rules", :class => 'textarea lg' %>
			<%= f.text_area :rules %>
			
		</div><!-- / bd -->
		</div><!-- / pod -->
		<!-- / Step 2 -->
		
		<!-- Step 3 -->
		<div id="tournament_players" class="pod step clear">
		<div class="bd">
			<div class="clear">
				<h4><em>Players &amp; Teams</em></h4>
			</div>
			<p class="note yellow_note">Lorem ipsum dolor sit amet, consectetur adipiscing elit.<a class="note-close" href="">X</a></p>
			
			  <div><%= f.check_box :teams %> <%= f.label :teams, "Enable Teams", :class => 'checkbox' %></div>
			
				<div style="display:none">
					<%= f.text_field :players_per_team %> <%= f.label :players_per_team, "How many players per team?" %>
				</div>
				
				<div class="block"><%= f.select :slot_count, [4, 8, 16, 32] %> <%= f.label :slot_count, "Maximum Slots" %></div>
				
				<div >
					<select id="tournament_type">
						<option value="Single Elimination">Single Elimination</option>
					</select>
					<label for="tournament_type">Tournament Type</label>
				</div>
			</div><!-- / bd -->
			</div><!-- / pod -->
		<!-- / Step 3 -->
		
		<!-- Step 4 -->
		<div id="tournament_prize" class="pod step clear">
		<div class="bd">
			<div class="clear">
				<h4><em>Prizes &amp; Fees</em></h4>
			</div>
			<p class="note yellow_note">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet velit quis magna ornare imperdiet. Cras fermentum tellus non lectus molestie at laoreet mauris congue. Donec lacus libero, elementum in posuere ut, feugiat posuere erat.<a class="note-close" href="">X</a></p>
			
			<div><%= f.text_field :first_place_prize, :size => 11 %> <%= f.label :first_place_prize, "1st Place" %></div>
			<div><%= f.text_field :first_place_prize, :size => 11 %> <%= f.label :second_place_prize, "2nd Place" %></div>
			<div><%= f.text_field :first_place_prize, :size => 11 %> <%= f.label :third_place_prize, "3rd Place" %></div>
			<div><%= f.text_field :entry_fee, :size => 11 %> <%= f.label :entry_fee, "Entry Fees" %></div>
			<div><%= f.label :other_prizes, "Other Prizes", :class => 'textarea' %></div>
			<div><%= f.text_area :other_prizes, :size => "88x15" %></div>
		</div><!-- / bd -->
		</div><!-- / pod -->
		<!-- / Step 4 -->
		
		<!-- Step 5 -->
		<div id="tournament_dates" class="pod step clear">
		<div class="bd">
			<div class="clear">
				<h4><em>The Dates</em></h4>
			</div>
			
			<p class="note yellow_note">Consectetur adipiscing elit. Curabitur sit amet velit quis magna ornare imperdiet. Cras fermentum tellus non lectus molestie at laoreet mauris congue.<a class="note-close" href="">X</a></p>
			<div class="clear">
			  <div class="calendar_date_select">
  				<div class="header">
  					<div class="pager">
  						<a method="previous" href="#">&laquo;</a>
  						<select class="months">
  							<option value="2008-01-01">Jan 2137</option><option value="2008-02-01">Feb 2137</option>
  							<option value="2008-03-01">Mar 2137</option><option value="2008-04-01">Apr 2137</option>
  						</select>
  						<a method="next" href="#">&raquo;</a>
  					</div>
  				</div>
			    <div class="body">
					  <table>
						<tbody>
							<tr class="weekdays">
								<th>S</th><th>M</th><th>T</th><th>W</th><th>T</th><th>F</th><th>S</th>
							</tr>
						<tr class="days">
							<td class="weekend other" date="2009-05-31"><a href="#">31</a></td><td class="today" date="2009-06-01"><a href="#">1</a></td><td class="" date="2009-06-02"><a href="#">2</a></td><td class="" date="2009-06-03"><a href="#">3</a></td><td class="" date="2009-06-04"><a href="#">4</a></td><td class="" date="2009-06-05"><a href="#">5</a></td><td class="weekend" date="2009-06-06"><a href="#">6</a></td></tr><tr class="days"><td class="weekend" date="2009-06-07"><a href="#">7</a></td><td class="" date="2009-06-08"><a href="#">8</a></td><td class="" date="2009-06-09"><a href="#">9</a></td><td class="selected" date="2009-06-10"><a href="#">10</a></td><td class="" date="2009-06-11"><a style="background-color: #00c277; color: #FFF;" href="#">11</a></td><td class="" date="2009-06-12"><a href="#">12</a></td><td class="weekend" date="2009-06-13"><a href="#">13</a></td></tr><tr class="days"><td class="weekend" date="2009-06-14"><a href="#">14</a></td><td class="" date="2009-06-15"><a href="#">15</a></td><td class="" date="2009-06-16"><a href="#">16</a></td><td class="" date="2009-06-17"><a style="background-color: #00673f; color: #FFF;" href="#">17</a></td><td class="" date="2009-06-18"><a style="background-color: #9b00f4; color: #FFF;" href="#">18</a></td><td class="" date="2009-06-19"><a href="#">19</a></td><td class="weekend" date="2009-06-20"><a href="#">20</a></td></tr><tr class="days"><td class="weekend" date="2009-06-21"><a href="#">21</a></td><td class="" date="2009-06-22"><a href="#">22</a></td><td class="" date="2009-06-23"><a href="#">23</a></td><td class="" date="2009-06-24"><a href="#">24</a></td><td class="" date="2009-06-25"><a href="#">25</a></td><td class="" date="2009-06-26"><a href="#">26</a></td><td class="weekend" date="2009-06-27"><a href="#">27</a></td></tr><tr class="days"><td class="weekend" date="2009-06-28"><a href="#">28</a></td><td class="" date="2009-06-29"><a href="#">29</a></td><td class="" date="2009-06-30"><a style="background-color: #410067; color: #FFF;" href="#">30</a></td><td class="other" date="2009-07-01"><a href="#">1</a></td><td class="other" date="2009-07-02"><a href="#">2</a></td><td class="other" date="2009-07-03"><a href="#">3</a></td><td class="weekend other" date="2009-07-04"><a href="#">4</a></td></tr><tr class="days"><td class="weekend other" date="2009-07-05"><a href="#">5</a></td><td class="other" date="2009-07-06"><a href="#">6</a></td><td class="other" date="2009-07-07"><a href="#">7</a></td><td class="other" date="2009-07-08"><a href="#">8</a></td><td class="other" date="2009-07-09"><a href="#">9</a></td><td class="other" date="2009-07-10"><a href="#">10</a></td><td class="weekend other" date="2009-07-11"><a href="#">11</a></td></tr>
							</tbody>
						</table>
						</tbody>
					</table>
					</div>
					<div class="footer"></div>
				</div><!-- / calendar_date_select -->
				
				<div class="tournament_dates">
				  <table>
						<tr>
							<th>&nbsp;</th>
							<td class="date">&nbsp;</td>
							<td class="edit">&nbsp;</td>
						</tr>
						<tr>
							<th><span class="swatch" style="background-color: #00c277;">&nbsp;</span> Registration Start:</th>
							<td class="date"><%= f.date_select :registration_start_date, :order => [:month, :day, :year] %></td>
							<td class="edit"><a href="">Edit</a></td>
						</tr>
						<tr>
							<th><span class="swatch" style="background-color: #00673f;">&nbsp;</span> Registration End:</th>
							<td class="date"><%= f.date_select :registration_end_date, :order => [:month, :day, :year] %></td>
							<td class="edit"><a href="">Edit</a></td>
						</tr>
						<tr>
							<th>Tournament Start Time:</th>
							<td class="time"><select><option>12</option></select>:<select><option>30</option></select><select><option>pm</option></select></td>
							<td class="edit"><a href="">Edit</a></td>
						</tr>
					</table>
			  </div><!-- / tournament_dates -->
			</div><!-- / clear -->
			<button type="submit" class="btn"><span class="icon"></span><span>Create Tournament</span></button> or
			<button type="button" class="btn"><span class="icon"></span><span>Save as Template</span></button>
		</div><!-- / bd -->
		</div><!-- / pod -->
		<!-- / Step 5 -->
	</div>
	<% end -%>
	</div><!-- / col -->
</div><!-- / main-col -->

<div id="sidecol">
	<div class="col">
	<div class="save_wrapper clear">
		<ul>
			<li><a class="rc biglink wh" href="/preview/tournament/new/">Save as Template</a></li>
			<li><a class="rc biglink bl" href="#load_template" rel="modal">Load from Template</a></li>
		</ul>
	</div><!-- / save_wrapper -->
	
	<div class="pod">
	<div class="hd">
		<h2>What are Templates?</h2>
	</div><!-- / hd -->
	<div class="bd">
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet velit quis magna ornare imperdiet. Cras fermentum tellus non lectus molestie at laoreet mauris congue. Donec lacus libero, elementum in posuere ut, feugiat posuere erat.</p>
	</div>
	</div>
	</div><!-- / col -->
</div><!-- / sidecol -->