<% content_for :head do -%>
<%= stylesheet_link_tag 'new_tournament' %>
<% end -%>

<% title "New Tournament" %>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
    
    $('input#tournament_name').keyup(function(e){
      $('h2#page_title').text($(e.target).val())
    })
    
    $('#load_template_btn').click(function(event){
      event.preventDefault()
      window.location.search = 't=' + $('#template_id').val()
    })
  })
</script>

<% content_for :modals do %>
  <div id="load_template" class="modal">
  		<div class="modal_hd">
  			<a class="modal_close" href=""><img src="/images/icon_close.gif" /></a>
  			<h1>Load Template</h1>
  		</div><!-- / modal_hd -->
  	<div class="modal_inner">
  			<div class="clear">
  			  <%= select_tag :template_id, options_for_select( @instance.templates.map {|t| [t.name, t.id]}) %>
  			  <%= button_link_to 'Load', '#', '', :id => 'load_template_btn' %>
  			</div>
  	</div><!-- / modal_inner -->
  </div><!-- / modal -->
<% end %>

<div id="maincol">
	<div class="col">
	<div id="new_tournament">
		<!-- Step 1 -->
		<% form_for @tournament do |f| -%>
		<%= f.error_messages %>
		<div id="tournament_name" class="pod step clear">
		<div class="bd">
			<div class="clear">
				<h4><em>Name &amp; Game</em></h4>
			</div>
			
			<p class="note yellow_note">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet velit quis magna ornare imperdiet.<a class="note-close" href="">X</a></p>
			
			<div><%= f.text_field :name %> <%= f.label :name, "Tournament Name" %></div>
			<div><%= f.text_field :game %> <%= f.label :game, "Game" %></div>
			
		</div><!-- / bd -->
		</div><!-- / pod -->
		<!-- / Step 1 -->
		
		<!-- Step 2-->
		<div id="tournament_rules" class="pod step clear">
		<div class="bd">
			<div class="clear">
				<h4><em>The Rules</em></h4>
			</div>
			<p class="note yellow_note">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet velit quis magna ornare imperdiet.<a class="note-close" href="">X</a></p>
			<%= f.label :rules, "Rules", :class => 'textarea lg' %>
			<%= f.text_area :rules %>
			
		</div><!-- / bd -->
		</div><!-- / pod -->
		<!-- / Step 2 -->
		
		<!-- Step 3 -->
		<div id="tournament_players" class="pod step clear">
		<div class="bd">
			<div class="clear">
				<h4><em>Players &amp; Teams</em></h4>
			</div>
			<p class="note yellow_note">Lorem ipsum dolor sit amet, consectetur adipiscing elit.<a class="note-close" href="">X</a></p>
			
			  <div>
			    <%= f.check_box :use_teams, :onclick => '($(this).attr("checked"))?$("#players_per_team_canvas").show():$("#players_per_team_canvas").hide();'  %>
			    <%= f.label :use_teams, "Enable Teams", :class => 'checkbox' %>
			  </div>
			
				<div style="<%= 'display: none;' unless @tournament.use_teams? %>" id="players_per_team_canvas">
					<%= f.text_field :players_per_team %> <%= f.label :players_per_team, "How many players per team?" %>
				</div>
				
				<div class="block"><%= f.select :slot_count, [4, 8, 16, 32] %> <%= f.label :slot_count, "Maximum Slots" %></div>
			</div><!-- / bd -->
			</div><!-- / pod -->
		<!-- / Step 3 -->
		
		<!-- Step 4 -->
		<div id="tournament_prize" class="pod step clear">
		<div class="bd">
			<div class="clear">
				<h4><em>Prizes &amp; Fees</em></h4>
			</div>
			<p class="note yellow_note">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet velit quis magna ornare imperdiet. Cras fermentum tellus non lectus molestie at laoreet mauris congue. Donec lacus libero, elementum in posuere ut, feugiat posuere erat.<a class="note-close" href="">X</a></p>
			
			<div><%= f.text_field :first_place_prize, :size => 11 %> <%= f.label :first_place_prize, "1st Place" %></div>
			<div><%= f.text_field :second_place_prize, :size => 11 %> <%= f.label :second_place_prize, "2nd Place" %></div>
			<div><%= f.text_field :third_place_prize, :size => 11 %> <%= f.label :third_place_prize, "3rd Place" %></div>
			<div><%= f.text_field :entry_fee, :size => 11 %> <%= f.label :entry_fee, "Entry Fees" %></div>
			<div><%= f.label :other_prizes, "Other Prizes", :class => 'textarea' %></div>
			<div><%= f.text_area :other_prizes, :size => "88x15" %></div>
		</div><!-- / bd -->
		</div><!-- / pod -->
		<!-- / Step 4 -->
		
		<!-- Step 5 -->
		<div id="tournament_dates" class="pod step clear">
		<div class="bd">
			<div class="clear">
				<h4><em>The Dates</em></h4>
			</div>
			
			<p class="note yellow_note">Consectetur adipiscing elit. Curabitur sit amet velit quis magna ornare imperdiet. Cras fermentum tellus non lectus molestie at laoreet mauris congue.<a class="note-close" href="">X</a></p>
			<div class="clear">
		    <div id="calendar_canvas">
      		<%= render :partial => 'layouts/calendar' %>
        </div>
				
				<div class="tournament_dates">
				  <table>
						<tr>
							<th>&nbsp;</th>
							<td class="date">&nbsp;</td>
							<td class="edit">&nbsp;</td>
						</tr>
						<tr>
							<th><span class="swatch" style="background-color: #00c277;">&nbsp;</span> Registration Start:</th>
							<td class="date"><%= f.date_select :registration_start_date, :order => [:month, :day, :year] %></td>
							<td class="edit"><a href="">Edit</a></td>
						</tr>
						<tr>
							<th><span class="swatch" style="background-color: #00673f;">&nbsp;</span> Registration End:</th>
							<td class="date"><%= f.date_select :registration_end_date, :order => [:month, :day, :year] %></td>
							<td class="edit"><a href="">Edit</a></td>
						</tr>
						<tr>
							<th>Round #1 Start Time:</th>
							<td class="time">
								<select><option selected="selected" value="8">August</option></select>
								<select><option selected="selected" value="4">4</option></select>
								<select><option selected="selected" value="2009">2009</option></select>
								<select><option>12</option></select> : <select><option>30</option></select> <select><option>pm</option></select>
							</td>
							<td class="edit"><a href="">Edit</a></td>
						</tr>
						<tr>
							<th>Round #2 Start Time:</th>
							<td class="time">
								<select><option selected="selected" value="8">August</option></select>
								<select><option selected="selected" value="4">4</option></select>
								<select><option selected="selected" value="2009">2009</option></select>
								<select><option>12</option></select> : <select><option>30</option></select> <select><option>pm</option></select>
							</td>
							<td class="edit"><a href="">Edit</a></td>
						</tr>
					</table>
			  </div><!-- / tournament_dates -->
			</div><!-- / clear -->
			<button type="submit" class="btn"><span class="icon"></span><span>Create Tournament</span></button>
			<%= f.check_box :is_template %> <%= f.label :is_template, 'Save this tournament as a Template.' %>
		</div><!-- / bd -->
		</div><!-- / pod -->
		<!-- / Step 5 -->
	</div>
	<% end -%>
	</div><!-- / col -->
</div><!-- / main-col -->

<div id="sidecol">
	<div class="col">
	<div class="save_wrapper clear">
		<ul>
			<li><a class="rc biglink wh" href="/preview/tournament/new/">Save as Template</a></li>
			<li><a class="rc biglink bl" href="#load_template" rel="modal">Load from Template</a></li>
		</ul>
	</div><!-- / save_wrapper -->
	
	<div class="pod">
	<div class="hd">
		<h2>What are Templates?</h2>
	</div><!-- / hd -->
	<div class="bd">
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet velit quis magna ornare imperdiet. Cras fermentum tellus non lectus molestie at laoreet mauris congue. Donec lacus libero, elementum in posuere ut, feugiat posuere erat.</p>
	</div>
	</div>
	</div><!-- / col -->
</div><!-- / sidecol -->
