<% title @tournament.name %>

<% content_for :head do -%>
  <%= stylesheet_link_tag 'new_overview' %>
  <% body 'new_overview' %>
<% end -%>


<% content_for :tournament_nav do -%>
  <%= render :partial => "layouts/sub_nav", :locals => {:active => 'overview'} %>
<% end -%>

<div id="maincol">
<div class="col">
  <% unless @event_days.empty? %>
	<div class="pod">
  	<div class="hd">
  		<h2>Recent Activity</h2>
  	</div><!-- / hd -->
  	<div class="overview bd">
  	  
    	  <% @event_days.sort.each do |day, events| %>
    	    <h3 class="today"><%= relative_date_or_formatted(day) %></h3>
    	    <ul>
    	    <% for event in events %>
    	      <%= render :partial => "events/#{event.event_type}", :locals => {:event => event, :tournament => @tournament} %>
    	    <% end %>
    	    </ul>
    	  <% end %>
  	</div><!-- / bd -->
	</div><!-- / pod -->
  <% else %>
  <div class="pod">
  	<div class="hd">
  		<h2>No Recent Activity</h2>
  	</div><!-- / hd -->
  	<div class="blank_overview bd"><!-- this is the real overview/bank 2/2/2010 -->
  	  <p>There is no recent activity to show you here.</p>
  	</div><!-- / bd -->
	</div><!-- / pod -->
  <% end %>
</div><!-- / col -->
</div><!-- / main-col -->

<div id="sidecol">
	<div class="col">
	  <div class="account_logo">
      <% if current_account.logo.exists? %>
        <%= image_tag current_account.logo.url , :width => '283px' %>
      <% end %>
	  </div><!-- / account_logo -->
	</div><!-- / col -->
</div><!-- / sidecol -->