<tr class="dispute">
	<td class="item-icon"><span>Disqualified</span></td>
	<td class="item-title"><%= link_to event.message, tournament_match_path(event.target_id) %></td>
	<td class="item-action"><%= event.action.capitalize %> by</td>
	<td class="item-posted"><%= event.actor %></td>
	<td class="item-date"><span class="date" title="<%= event.created_at.iso8601 %>"><%= event.created_at.iso8601 %></span></td>
</tr>