<% stylesheet :messages %>
<% stylesheet :match %>
<% title "Valor Tournament" %>

<% content_for :tournament_nav do -%>
  <%= render :partial => "layouts/sub_nav", :locals => {:active => 'brackets'} %>
<% end -%>

<% content_for :modals do %>
  <% if @slot %>
	<div id="match_submit_results" class="modal">
			<div class="modal_hd">
				<a class="modal_close" href=""><img src="/images/icon_close.gif" /></a>
				<h1>Match Results</h1>
			</div><!-- / modal_hd -->
		<div class="modal_inner">
			<%= link_to '<span class="icon"></span><span>I Won</span>', [:won, @tournament, @match, @slot], :class => 'btn', :method => :put %>
			<%= link_to '<span class="icon"></span><span>I Lost</span>', [:lost, @tournament, @match, @slot], :class => 'btn', :method => :put %>
		</div><!-- / modal_inner -->
	</div><!-- / modal -->
	<% end %>
<% end %>

<div id="maincol">
	<div class="col">
	<div class="pod">
	<div class="bd clear">
		<div class="clear" id="match_wrapper">
			
			<div id="home_player">
				<%= image_tag @match.players[0].avatar.url(:large) %>
				<strong><%= @match.players[0].login %></strong>
			</div>

			<div id="match_details">
				<h2>VS</h2>
				<h3>Round 1</h3>
				<h4>6/14/09 12:23PM</h4>
				<% # if @match.is_match_player(current_user) %>
				<a href="#match_submit_results" class="btn" rel="modal"><span class="icon"></span><span>Submit Results</span></a>
				<% # end %>
			</div>
			
			<div id="away_player">
				<%= image_tag @match.players[1].avatar.url(:large) %>
				<strong><%= @match.players[1].login %></strong>
			</div>
						
		</div><!-- / match_wrapper -->
	</div><!-- / bd -->
	</div><!-- / pod -->
	
	<div id="comment_mod">
	  <ul class="group">
			<% if !@match.comments.blank? %>
	      <%= render @match.comments %> <!-- renders partial in comments/_comment -->
	    <% end %>
	  </ul><!-- /comments ul -->
	
	  <div class="comment_form darkpod clear">
			<h4>Post a Comment</h4>
			<%= render :partial => 'comments/form', :locals => {:post_url => [@tournament, @match, Comment.new]} %>
		</div><!-- / darkpod -->
	</div><!-- / comment_mod -->
	
	</div><!-- / col -->
</div><!-- / main-col -->

<div id="sidecol">
	<div class="col">
		<div class="pod">
		<div class="hd">
	 	 <h2>Match Notes</h2>
		</div>
			<div class="bd clear">
				<p>Best of 3 on map: ctf_2fort</p>
			</div><!-- / bd -->
		</div><!-- / pod -->
		
	</div><!-- / col -->
</div><!-- / sidecol -->