<% stylesheet :match %>
<% stylesheet :messages %>
<% body 'match' %>
<% title "Fuck you, Fix this." %>

<% content_for :tournament_nav do -%>
  <%= render :partial => "layouts/sub_nav", :locals => {:active => 'brackets'} %>
<% end -%>

<% content_for :modals do %>
  <% if @slot %>
	<div id="match_submit_results" class="modal">
			<div class="modal_hd">
				<a class="modal_close" href=""><img src="/images/icon_close.gif" /></a>
				<h1>Confirm Results</h1>
			</div><!-- / modal_hd -->
		<div class="modal_inner clear">
    	<div class="group"><label>Are you sure about your results you dumbfuck?</label></div>
    	<div><button type="submit" class="btn"><span class="icon"></span><span>Yes</span></button>
        <button type="submit" class="btn"><span class="icon"></span><span>no</span></button></div>
		</div><!-- / modal_inner -->
	</div><!-- / modal -->
	<% end %>
<% end %>

<div id="maincol">
	<div class="col">
	<div class="pod">
	<div class="bd clear">
		<div class="clear onevone" id="match_wrapper">
			
			<div id="home_player">
        <%= image_tag @match.slots[0].player.avatar.url(:medium) %>
        <div class="player">
          <h2><%= @match.slots[0].player.login %></h2>
        </div>
			</div><!-- / home_player -->

			<div id="match_details">
				<h3>Round 1</h3>
				<% if @slot %>
				  <% if @slot.result.nil? %>
      		<ul id="match_results" class="clear">
      			<li><%= link_to 'I Won', [:won, @tournament, @match, @slot], :id => "result_won", :method => :put %></li>
      			<li><%= link_to 'I Lost', [:lost, @tournament, @match, @slot], :id => "result_lost", :method => :put %></li>
      		</ul>
      		<% else %>
      		  Result Submitted (<%= @slot.result %>)
      		<% end  %>
    		<% end %>
  				<span class="txt_versus">VS</span>
			</div>
      
			<div id="away_player">
        <%= image_tag @match.slots[1].player.avatar.url(:medium) %>
        <div class="player">
          <h2><%= @match.slots[1].player.login %></h2>
        </div>
			</div><!-- / away_player -->
			
			<div class="clear"></div>
		<div id="date_played">Played at <strong>12:23PM</strong> at <strong>6/14/09</strong></div>
		</div><!-- / match_wrapper -->
		
		<div id="comment_mod">
  	  <ul class="group">
  			<% if !@match.comments.blank? %>
  	      <%= render @match.comments %> <!-- renders partial in comments/_comment -->
  	    <% end %>
  	  </ul><!-- /comments ul -->

  	  <div class="comment_form clear">
  			<h4><img src="/users/avatars/missing_medium.jpg?1251918398"/>Post a Comment</h4>
  			<%= render :partial => 'comments/form', :locals => {:post_url => [@tournament, @match, Comment.new]} %>
  		</div><!-- / comment_form -->
  	</div><!-- / comment_mod -->
	</div><!-- / bd -->
	</div><!-- / pod -->
	</div><!-- / col -->
</div><!-- / main-col -->

<div id="sidecol">
	<div class="col">
		<div class="pod">
		<div class="hd">
	 	 <h2>Match Notes</h2>
		</div>
			<div class="bd clear">
				<p>Best of 3 on map: ctf_2fort</p>
			</div><!-- / bd -->
		</div><!-- / pod -->
		
	</div><!-- / col -->
</div><!-- / sidecol -->