<h1><%= @page_title = 'View Account' %></h1>
<table id="account">
  <tr>
    <th>Name</th>
    <th>Lifetime Revenue</th>
    <th>Domain</th>
    <th>Created</th>
    <th>Plan</th>
  </tr>
  <tr>
    <td><%= @account.full_domain %></td>
    <td><%= @account.created_at.strftime('%B %d, %Y') %></td>
    <td><%= link_to(@account.subscription.subscription_plan, [:admin, @account.subscription.subscription_plan]) %></td>
    <td><%= h(@account.name) %></td>
    <td><%= link_to(number_to_currency(@account.subscription_payments.sum(:amount)), [:admin, @account.subscription]) %></td>
  </tr>
</table>