<body id="login">
<div id="wrapper">
	<div style="width: 300px; margin: 15px auto;"><img src="/images/logo.gif" /></div>
	<div id="content">
	  <% form_for @user_session, :url => '/login' do |f| -%>
	    <%= f.error_messages %>
	    <dl>
				<dt class="username"><%= f.label :login, "Username" %></dt>
				<dd><%= f.text_field :login, :class => 'text' %></dd>
				<dt><%= f.label :password, "Password" %></dt>
				<dd><%= f.password_field :password, :class => 'text' %></dd>
				<dt class="btn-submit"><button type="submit">Login</button></dt>
				<dd class="remember"><input type="checkbox" id="rememberme" /><label for="rememberme">Remember Me</label></dd>
			</dl>
	  <% end -%>
	</div><!-- / content -->
</div><!-- / wrapper -->


