<body id="signup">
<div id="signup_wrap">
  <div class="hd">
		<h1>Login with your BattleID</h1>
	</div><!-- / hd -->
	
		<% form_for @user_session, :url => login_path(:ref => params[:ref]) do |f| -%>
		<div class="section">
			<div class="error_wrapper"><%= f.error_messages %></div>
				<p><%= f.label :login, "Username" %> <%= f.text_field :login, :class => 'text' %></p>
				<p><%= f.label :password, "Password" %> <%= f.password_field :password, :class => 'text' %></p>
		</div><!-- / section -->
		<div id="signup_finish">
			<p><button type="submit">Login</button> <span><input type="checkbox" id="rememberme" /><label class="remember_label" for="rememberme">Remember Me</label></span></p>
		</div><!-- /signup_finish -->
		<% end -%>
</div><!-- / wrapper -->


