<div id="battle_bar" class="clear">
	<div id="bar_content">
		<% if current_user %> <%# if logged in %>
		<div id="user_avatar">
			<a id="avatar" href="/preview/users/show"><img src="/images/avatar_32x32.jpg"/> <span><%= current_user.try(:login) || 'nologin' %></span></a>
		</div><!-- / user_avatar -->
		
		<div id="your_tournaments">
			<a class="clear" href=""><span id="tmenu_txt">Your Tournaments</span> <span id="tmenu_unread">16</span></a>
			<div id="tmenu">
				<div id="tmenu_inner">
					<div class="beta" id="matches_today">
					<h3>Upcoming Matches</h3>
					<ul>
						<li><a href="/preview/tournaments/overview/">Valor Tournament <em>You vs James <strong>@ 4:15PM CST</strong></em></a></li>
						<li><a href="/preview/tournaments/overview/">Valor Tournament <em>You vs James <strong>@ 4:15PM CST</strong></em></a></li>
						<li><a href="/preview/tournamenst/overview/">Valor Tournament <em>You vs James <strong>@ 4:15PM CST</strong></em></a></li>
					</ul>
					</div><!-- / matches_today -->
					<h3>Your Tournaments</h3>
					<ul>
						<li><a href="" class="beta tedit">Edit</a><a href="/tournaments/1/">Valor <em>Hosted by Starfeeder</em></a></li>
						<li><a href="" class="beta tedit">Edit</a><a href="/tournaments/1/">Random SC2 <em>Hosted by Starfeeder</em></a></li>
						<li><a href="" class="beta tedit">Edit</a><a href="/tournaments/1/">nvidia CSS League <em>Hosted by CSSCommunity.com</em></a></li>
						<li><a href="" class="beta tedit">Edit</a><a href="/tournaments/1/">Team Fortress 2 Tournament <em>Hosted by myTF2.com</em></a></li>
					</ul>
					
				</div>
			</div>
		</div><!-- / your_tournaments -->
		
		<div class="beta" id="your_matches">
			<p><a href="/preview/matches/show/">You vs James at 4:53PM</a></p>
		</div><!-- / your_matches -->
		
		<div id="user_nav">
			<ul>
				<% if current_user %>
				<li id="user_logout"><%= link_to "Logout", logout_path %></li>
				<% else %>
				<li id="user_login"><%= link_to "Login", login_path %></li>
				<% end %>
			</ul>
		</div>
		<% else %> <%# if not %>
		<div id="logged_out">
		<div id="user_nav">
			<ul>
				<li id="user_login"><%= link_to "Login", login_path %></li>
				<li><p>Don't have a BattleID?</p></li>
				<li id="user_signup"><%= link_to "Signup", signup_path %></li>
			</ul>
		</div><!-- / user_nav -->
		<p>You are not currently logged in!</p>
		</div><!-- / logged_out -->
		<% end %>
	</div><!-- / bar_content -->
</div><!-- / battle_bar -->