<%
  tournament ||= @tournament
  show_date ||= Date.today
  month_start = Date.new(show_date.year, show_date.month, 1)
  cal_start = month_start - month_start.wday
  month_end = Date.new(show_date.year, show_date.month, -1)
  cal_end = month_end + (6 - month_end.wday)
  prev_month = show_date.month - 1
  prev_year = show_date.year
  if prev_month == 0
    prev_month = 12
    prev_year -= 1
  end
  next_month = show_date.month + 1
  next_year = show_date.year
  if next_month == 13
    next_month = 1
    next_year += 1
  end
%>
<div class="calendar_date_select">
	<div class="header">
		<div class="pager">
			<%= link_to_remote('&laquo;', :url => calendar_tournaments_path(:year => prev_year, :month => prev_month), :method => 'get', :update => 'calendar_canvas') %>
			<span class="current_month"><%= show_date.strftime("%b %Y") %></span>
			<%= link_to_remote('&raquo;', :url => calendar_tournaments_path(:year => next_year, :month => next_month), :method => 'get', :update => 'calendar_canvas') %>
		</div>
	</div>
  <div class="body">
    <table>
      <tbody>
	      <tr class="weekdays">
		      <th>S</th><th>M</th><th>T</th><th>W</th><th>T</th><th>F</th><th>S</th>
	      </tr>
        <%- cal_start.upto(cal_end) do |day| -%>
          <%-
            d_class = []
            d_class << 'other' if day.month != show_date.month
            d_class << 'weekend' if [0, 6].include?(day.wday)
            d_class << 'today' if day == Date.today
            %w(registration_start_date registration_end_date).each do |field|
              eval("#{field} ||= nil")
              d_class << field if eval(field) && day == eval(field)
            end
          -%>
          <%- if day.wday == 0 %><tr class="days"><% end -%>
          <td class="<%= d_class.join(' ') %>" date="<%= day.strftime('%Y-%m-%d') %>"><a href="#"><%= day.day %></a></td>
          <%- if day.wday == 7 %><tr class="days"><% end -%>
        <%- end -%>
	      </tbody>
      </table>
      </tbody>
    </table>
  </div>
	<div class="footer"></div>
</div><!-- / calendar_date_select -->

