<div id="some_modal" class="modal">
		<div class="modal_hd">
			<a class="modal_close" href=""><img src="/images/icon_close.gif" /></a>
			<h1>Some Modal</h1>
		</div><!-- / modal_hd -->
	<div class="modal_inner">
			<p>And stuff, etc. IMO.</p>
	</div><!-- / modal_inner -->
</div><!-- / modal -->

<!-- / some_modal EXAMPLE MARKUP -->


<div id="match_submit_results" class="modal">
		<div class="modal_hd">
			<a class="modal_close" href=""><img src="/images/icon_close.gif" /></a>
			<h1>Match Results</h1>
		</div><!-- / modal_hd -->
	<div class="modal_inner">
		<button class="btn"><span class="icon"></span><span>I Won</span></button>
		<button class="btn"><span class="icon"></span><span>I Lost</span></button>
		<div style="margin: 20px 0 0 0;"><label>Comment</label></div>
		<div><textarea></textarea></div>
		<div><input type="file"/></div>
		<button class="btn"><span class="icon"></span><span>Submit</span></button>
	</div><!-- / modal_inner -->
</div><!-- / modal -->

<!-- / match_submit_results -->


<div id="team_invite" class="modal">
		<div class="modal_hd">
			<a class="modal_close" href=""><img src="/images/icon_close.gif" /></a>
			<h1>Invite</h1>
		</div><!-- / modal_hd -->
	<div class="modal_inner">
			<p>You've been invited to join team Valor by <a href="">Spawn</a></p>
			<div class="clear">
			<button class="btn"><span class="icon"></span><span>Accept</span></button>
			<button class="btn"><span class="icon"></span><span>Decline</span></button>
			</div>
	</div><!-- / modal_inner -->
</div><!-- / modal -->

<!-- / team_invite -->


<div id="join_confirm" class="modal">
		<div class="modal_hd">
			<a class="modal_close" href=""><img src="/images/icon_close.gif" /></a>
			<h1>Confirm</h1>
		</div><!-- / modal_hd -->
	<div class="modal_inner">
			<p>Are you sure you want to join this tournament?</p>
			<div class="clear">
			<%= link_to '<span class="icon"></span><span>Yes</span>', tournament_participants_path(@tournament), :method => :post, :class => 'btn' %>
			<a href="">No</a>
			</div>
	</div><!-- / modal_inner -->
</div><!-- / modal -->

<!-- / join_confirm -->


<div id="create_team" class="modal">
		<div class="modal_hd">
			<a class="modal_close" href=""><img src="/images/icon_close.gif" /></a>
			<h1>Create Your Team</h1>
		</div><!-- / modal_hd -->
	<div class="modal_inner">
			<p>Create a name for your team and select the following participants to join your team.</p>
			<form>
				<div style="margin: 0 0 0 10px;"><label for="team_name">Team Name</label><input id="team_name" type="text" /></div>
				<ul id="player_list" class="clear">
				  <% @tournament.participants.each do |user| %>
  					<li><input type="checkbox" name="members[]" value="<%= user.id %>" id="members_<%= user.id %>" /> <label class="checkbox" for="members_<%= user.id %>"><%= user.login %></label></li>
  				<% end %>
				</ul>
				<div class="clear">
					<button class="btn add"><span class="icon"></span><span>Create Team</span></button>
					or <a href="">Cancel</a>
				</div>
			</form>
			
	</div><!-- / modal_inner -->
</div><!-- / modal -->

<!-- / create_team -->


<div id="add_cohost" class="modal">
		<div class="modal_hd">
			<a class="modal_close" href=""><img src="/images/icon_close.gif" /></a>
			<h1>Add a Co-Host</h1>
		</div><!-- / modal_hd -->
	<div class="modal_inner">
			<p>Enter an email or BattleID to add a Co-Host to this tournament.</p>
			<% form_tag add_cohost_tournament_participants_path(@tournament) , :method => :post do %>
				<div style="margin: 0 0 0 10px;"><label for="team_name">Enter E-Mail or BattleID</label><input size="30" type="text" name="user" /></div>
				
				<div class="clear">
					<button class="btn add"><span class="icon"></span><span>Add Co-Host</span></button>
					or <a class="modal_close" href="">Cancel</a>
				</div>
			<% end %>
			
	</div><!-- / modal_inner -->
</div><!-- / modal -->

<!-- / add_cohosts -->


<div id="deny_participation" class="modal">
		<div class="modal_hd">
			<a class="modal_close" href=""><img src="/images/icon_close.gif" /></a>
			<h1>Deny Participation</h1>
		</div><!-- / modal_hd -->
	<div class="modal_inner">
			<p>Are you sure you want to deny participation?</p>
			<form>
				<div><label class="textarea" for="deny_reason">Reason for Decline</label><textarea></textarea></div>
				
				<div class="clear">
					<button class="btn"><span class="icon"></span><span>Yes, decline</span></button>
					or <a href="">Cancel</a>
				</div>
			</form>
			
	</div><!-- / modal_inner -->
</div><!-- / modal -->

<!-- / deny_participation -->


<div id="confirm_start_tournament" class="modal">
		<div class="modal_hd">
			<a class="modal_close" href=""><img src="/images/icon_close.gif" /></a>
			<h1>Confirm</h1>
		</div><!-- / modal_hd -->
	<div class="modal_inner">
			<p>Are you sure you want to start this tournament?</p>
			<div class="clear">
			<%= link_to '<span class="icon"></span><span>Yes</span>', start_tournament_path(@tournament), :method => :put, :class => 'btn' %>
			<button class="btn"><span class="icon"></span><span>No</span></button>
			</div>
	</div><!-- / modal_inner -->
</div><!-- / modal -->

<!-- / confirm_start_tournament -->

<div id="generic_modal" class="modal">
		<div class="modal_hd">
			<a class="modal_close" href=""><img src="/images/icon_close.gif" /></a>
			<h1 id="generic_modal_title">Confirm</h1>
		</div><!-- / modal_hd -->
	<div class="modal_inner">
			<p id="generic_modal_text"></p>
			<div class="clear">
			  <form method="post" style="display: none;" id="generic_modal_form">
			    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
			    <input type="hidden" name="_method" value="put" />
			  </form><a href="#" class="btn" onclick="document.getElementById('generic_modal_form').submit(); return false;"><span class="icon"></span><span>Yes</span></a>
			<button class="btn"><span class="icon"></span><span>No</span></button>
			</div>
	</div><!-- / modal_inner -->
</div><!-- / modal -->

<!-- / confirm_start_tournament -->


