<div id="some_modal" class="modal">
		<div class="modal_hd">
			<a class="modal_close" href=""><img src="/images/icon_close.gif" /></a>
			<h1>Some Modal</h1>
		</div><!-- / modal_hd -->
	<div class="modal_inner">
			<p>And stuff, etc. IMO.</p>
	</div><!-- / modal_inner -->
</div><!-- / modal -->

<!-- / some_modal EXAMPLE MARKUP -->

<!-- / match_submit_results -->


<div id="team_invite" class="modal">
		<div class="modal_hd">
			<a class="modal_close" href=""><img src="/images/icon_close.gif" /></a>
			<h1>Invite</h1>
		</div><!-- / modal_hd -->
	<div class="modal_inner">
			<p>You've been invited to join team Valor by <a href="">Spawn</a></p>
			<div class="btn_wrapper clear">
			<button class="modal_btn">Accept</button>
			<button class="modal_btn">Decline</button>
			</div>
	</div><!-- / modal_inner -->
</div><!-- / modal -->

<!-- / team_invite -->


<div id="join_confirm" class="modal">
		<div class="modal_hd">
			<a onclick="closeModal('#join_confirm'); return false;" class="modal_close" href=""><img src="/images/icon_close.gif" /></a>
			<h1>Confirm</h1>
		</div><!-- / modal_hd -->
	<div class="modal_inner">
			<p style="white-space: nowrap;">Are you sure you want to join this tournament?</p>
			<div class="btn_wrapper clear">
		<div style="margin: 0 5px 0 0; display: block; float: left;"><%= link_to 'Yes', tournament_participants_path(@tournament), :method => :post, :class => 'modal_btn' %></div>
		<a href="" class="modal_btn btn_cancel modal_close">No</a>
			</div>
	</div><!-- / modal_inner -->
</div><!-- / modal -->

<!-- / join_confirm -->

<% if false # if current_user && @tournament && current_user.is_participant_of?(@tournament) %>
  <div id="create_team" class="modal">
		  <div class="modal_hd">
			  <a class="modal_close" href=""><img src="/images/icon_close.gif" /></a>
			  <h1>Create Team</h1>
		  </div><!-- / modal_hd -->
	  <div class="modal_inner">
			  <% form_for [@tournament, Team.new] do |f| -%>
			    <%= f.label :name, "Team Name" %>
			    <%= f.text_field :name %>
			    <div class="btn_wrapper clear">
					  <button class="modal_btn add">Create Team</button>
					  or <a href="" class="modal_close">Cancel</a>
				  </div>
			  <% end -%>
	  </div><!-- / modal_inner -->
  </div><!-- / modal -->
<% end %>

<!-- / create_team -->


<div id="add_cohost" class="modal clear">
		<div class="modal_hd">
			<a class="modal_close" href=""><img src="/images/icon_close.gif" /></a>
			<h1>Add a Co-Host</h1>
		</div><!-- / modal_hd -->
	<div class="modal_inner">
			<p style="white-space: nowrap;">Enter a BattleID to add a Co-Host to this tournament.</p>
			<% form_tag add_cohost_tournament_participants_path(@tournament) , :method => :post do %>
				<label for="team_name">Enter a BattleID</label><input size="30" type="text" name="user" />
				<div class="btn_wrapper clear">
					<button class="modal_btn">Add Co-Host</button>
					<a href="#" class="modal_btn btn_cancel modal_close">No</a>
				</div>
			<% end %>
			
	</div><!-- / modal_inner -->
</div><!-- / modal -->

<!-- / add_cohosts -->


<div id="deny_participation" class="modal">
		<div class="modal_hd">
			<a class="modal_close" href=""><img src="/images/icon_close.gif" /></a>
			<h1>Deny Participation</h1>
		</div><!-- / modal_hd -->
	<div class="modal_inner">
			<p>Are you sure you want to deny participation?</p>
			<form>
				<div><label class="textarea" for="deny_reason">Reason for Decline</label><textarea></textarea></div>
				
				<div class="btn_wrapper clear">
					<button class="modal_btn">Yes, decline</button>
					<a class="modal_close modal_cancel" href="">Cancel</a>
				</div>
			</form>
			
	</div><!-- / modal_inner -->
</div><!-- / modal -->

<!-- / deny_participation -->


<div id="confirm_start_tournament" class="modal">
		<div class="modal_hd">
			<a class="modal_close" href=""><img src="/images/icon_close.gif" /></a>
			<h1>Confirm</h1>
		</div><!-- / modal_hd -->
	<div class="modal_inner">
			<p>Are you sure you want to start this tournament?</p>
			<div class="btn_wrapper clear">
			<%= link_to 'Yes', start_tournament_path(@tournament), :method => :put, :class => 'modal_btn' %>
			<a class="modal_btn btn_cancel modal_close">No</a>
			</div>
	</div><!-- / modal_inner -->
</div><!-- / modal -->

<!-- / confirm_start_tournament -->

<div id="generic_modal" class="modal">
		<div class="modal_hd">
			<a class="modal_close" href="" onclick="return closeModal()"><img src="/images/icon_close.gif" /></a>
			<h1 id="generic_modal_title">Confirm</h1>
		</div><!-- / modal_hd -->
	<div class="modal_inner clear">
			<p id="generic_modal_text"></p>
			  <form method="post" style="display: none;" id="generic_modal_form">
			    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
			    <input id="generic_modal_method" type="hidden" name="_method" value="put" />
			  </form>
				<div class="btn_wrapper clear">
				<a href="#" class="modal_btn" onclick="document.getElementById('generic_modal_form').submit(); return false;">Yes</a>
				<a href="#" class="modal_btn btn_cancel modal_close">No</a>
				</div>
	</div><!-- / modal_inner -->
</div><!-- / modal -->

<!-- / confirm_start_tournament -->

<div id="getting_started_modal" class="modal">
	  <div class="modal_hd">
		  <a class="modal_close" href=""><img src="/images/icon_close.gif" /></a>
		  <h1>Getting Started</h1>
	  </div><!-- / modal_hd -->
  <div class="modal_inner">
    Getting Started
  </div><!-- / modal_inner -->
</div><!-- / modal -->

<!-- / getting_started -->
