<div class="pod tinfo">
	<div class="hd">
		<h2>Tournament Info</h2>
	</div><!-- / hd -->
	<div class="bd">
		<ul id="basic_info">
			<li class="clear"><strong>Game:</strong> <%= @tournament.game %></li>
			<li><strong>Tournament Type:</strong> Single Elimination</li>
			<li><strong>Total Slots:</strong> <%= @tournament.slot_count %></li>
			<li><strong>Slots Open:</strong> 6</li>
			<li class="last"><strong>Entry Fee:</strong> <% @tournament.entry_fee.blank? ? 'N/A' : @tournament.entry_fee %></li>
		</ul>
		<h3>Prizes</h3>
		<ul id="prizes">
			<li>1st Place: <%= @tournament.first_place_prize %></li>
			<li>2nd Place: <%= @tournament.second_place_prize %></li>
			<li class="last">3rd Place:  <%= @tournament.third_place_prize %></li>
		</ul>
		<h3>Dates/Times</h3>
		<div id="calendar_canvas">
  		<%= render :partial => 'layouts/calendar' %>
    </div>
		<h4>
		<ul id="calendar_key" class="clear">
		<li>
		  <span class="swatch" style="background-color: #00c277;">&nbsp;</span>
		  Start Registration
		</li>
		<li>
			<span class="swatch" style="background-color: #00673f;">&nbsp;</span>
			End Registration
		</li>
		<li>
		  <span class="swatch" style="background-color: #9b00f4;">&nbsp;</span>
		  Start Tournament
		</li>
		<li>
			<span class="swatch" style="background-color: #410067;">&nbsp;</span>
		  End Tournament
		</li>
		</ul><!-- / calendar_key -->
	</div><!-- / bd -->
</div><!-- / pod -->
