<% active ||= '' %>
<a id="btn_start_tournament" class="btn" href="#confirm_start_tournament" rel="modal"><span class="icon"></span><span>Start Tournament</span></a>
<div id="subnav">
<ul style="display: block;">
  
  <% content_tag :li, active == 'overview' ? {:class => 'active'} : nil do -%>
    <%= link_to "Overview", tournament_path(@tournament) %>
  <% end -%>
  
	<% content_tag :li, active == 'messages' ? {:class => 'active'} : nil do -%>
    <%= link_to "Messages", tournament_messages_path(@tournament) %>
  <% end -%>
	
	<li><a href="/preview/tournaments/show/">Rules</a></li>
	
	<% content_tag :li, active == 'brackets' ? {:class => 'active'} : nil do -%>
    <%= link_to "Brackets", brackets_tournament_path(@tournament) %>
  <% end -%>
  
  <% content_tag :li, active == 'participants' ? {:class => 'active'} : nil do -%>
    <%= link_to "Participants", tournament_participants_path(@tournament) %>
  <% end -%>
  
  <% content_tag :li, active == 'files' ? {:class => 'active'} : nil do -%>
    <%= link_to "Files", tournament_files_path(@tournament) %>
  <% end -%>
  
</ul><!-- / subnav -->

<ul id="right_subnav" class="clear" style="display: none;">
	<li><a href="">Settings</a></li>
</ul><!-- / right_subnav -->
</div><!-- / subnav -->