<% content_for :modals do -%>
  <%= render :partial => "layouts/modals" %>  
<% end -%>

<% active ||= '' %>

<% if current_user %>
  <% if current_user.is_hosting?(@instance) && !@tournament.started? %>
    <a id="btn_start_tournament" class="btn" href="#confirm_start_tournament" rel="modal"><span class="icon"></span><span>Start Tournament</span></a>
  <% end %>
<% end %>

<% if current_user %>
	<% if current_user.is_eligible_to_join?(@tournament) && !@tournament.started? %>
		<a id="join_tournament" class="btn" href="#join_confirm" rel="modal"><span class="icon"></span><span>Join Tournament</span></a>
	<% end %>
<% end %>

<div id="subnav">
<ul style="display: block;">
  
  <% content_tag :li, active == 'overview' ? {:class => 'active'} : nil do -%>
    <%= link_to "Overview", tournament_path(@tournament) %>
  <% end -%>
  
	<% content_tag :li, active == 'messages' ? {:class => 'active'} : nil do -%>
    <%= link_to "Messages", tournament_messages_path(@tournament) %>
  <% end -%>
	
	<% content_tag :li, active == 'rules' ? {:class => 'active'} : nil do -%>
    <%= link_to "Info", rules_tournament_path(@tournament) %>
  <% end -%>
	
	<% content_tag :li, active == 'brackets' ? {:class => 'active'} : nil do -%>
    <%= link_to "Brackets", brackets_tournament_path(@tournament) %>
  <% end -%>
  
  <% content_tag :li, active == 'participants' ? {:class => 'active'} : nil do -%>
    <%= link_to "Participants", tournament_participants_path(@tournament) %>
  <% end -%>
  
  <% content_tag :li, active == 'files' ? {:class => 'active'} : nil do -%>
    <%= link_to "Files", tournament_files_path(@tournament) %>
  <% end -%>
  
  <% if current_user %>
    <% if current_user.is_hosting?(@instance) %>
      <% content_tag :li, active == 'edit' ? {:class => 'active'} : nil do -%>
        <%= link_to "Edit Tournament", edit_tournament_path(@tournament) %>
      <% end -%>
    <% end %>
  <% end %>
  
</ul><!-- / subnav -->

<ul id="right_subnav" style="display: none;" class="clear">
</ul><!-- / right_subnav -->
</div><!-- / subnav -->