<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
	<title>Battle Center | Host Tournaments, Not Headaches.</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Language" content="en-us" />
	<meta name="robots" content="all" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="" />
	<%= stylesheet_link_tag 'reset' %>
	<%= stylesheet_link_tag 'signup' %>
	<link rel="Shortcut Icon" href="images/favicon.ico?0909043501" type="image/x-icon" />
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
</head>
<body class="secondary" id="signup">
  <div id="header">
    <div id="header_wrapper">
      <div class="clear">
      <h1>BattleCenter</h1>
      </div><!-- / clear -->
      <ul>
			  <% if admin_subdomain? %>
			    <li><%= link_to('Subscriptions', admin_subscriptions_path) %></li>
			    <li><%= link_to('Accounts', admin_accounts_path) %></li>
			    <li><%= link_to('Plans', admin_subscription_plans_path) %></li>
			    <li><%= link_to('Discounts', admin_subscription_discounts_path) %></li>
			    <li><%= link_to('Affiliates', admin_subscription_affiliates_path) %></li>
				<% end %>
			</ul>
  </div><!-- / header_wrapper -->
</div><!-- / header -->
  <div id="content" class="clear">
    <div id="content_wrapper">
    <%= flash_notices %>
    <%= yield %>
    <div id="footer">
      <p>&copy; 2008-2010 Battle Center is a product of The Battle Begins LLC.</p>
    </div><!-- / footer -->
    </div>
  </div>
</body>
</html>
