<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
	<title>Starfeeder | Managed by The Battle Center</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Language" content="en-us" />
	<meta name="robots" content="all" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="" />
	<%= stylesheet_link_tag 'screen' %>
	<%= stylesheet_link_tag 'modals' %>
	<%= javascript_include_tag 'jquery', 'lowpro.jquery', 'jquery.timeago', 'global', 'modal' %>
	<%= yield(:head) %>
	<link rel="Shortcut Icon" href="favicon.ico" type="image/x-icon" />
</head>
<body id="<%= yield(:body) %>">
	
<div id="some_modal" class="modal">
		<div class="modal_hd">
			<a class="modal_close" href=""><img src="/images/icon_usernav_logout.gif" /></a>
			<h1>Some Modal</h1>
		</div><!-- / modal_hd -->
	<div class="modal_inner">
			<p>And stuff, etc. IMO.</p>
	</div><!-- / modal_inner -->
</div><!-- / modal -->

<div id="create_team" class="modal">
		<div class="modal_hd">
			<a class="modal_close" href=""><img src="/images/icon_usernav_logout.gif" /></a>
			<h1>Create Your Team</h1>
		</div><!-- / modal_hd -->
	<div class="modal_inner">
			<p>Create a name for your team and select the following participants to join your team.</p>
			<form>
				<div style="margin: 0 0 0 10px;"><label for="team_name">Team Name</label><input id="team_name" type="text" /></div>
				<ul id="player_list" class="clear">
					<li><input type="checkbox"/><label class="checkbox">Bryan</label></li>
					<li><input type="checkbox"/><label class="checkbox">Bryan</label></li>
					<li><input type="checkbox"/><label class="checkbox">Bryan</label></li>
					<li><input type="checkbox"/><label class="checkbox">Bryan</label></li>
					<li><input type="checkbox"/><label class="checkbox">Bryan</label></li>
					<li><input type="checkbox"/><label class="checkbox">Bryan</label></li>
					<li><input type="checkbox"/><label class="checkbox">Bryan</label></li>
					<li><input type="checkbox"/><label class="checkbox">Bryan</label></li>
					<li><input type="checkbox"/><label class="checkbox">Bryan</label></li>
					<li><input type="checkbox"/><label class="checkbox">Bryan</label></li>
					<li><input type="checkbox"/><label class="checkbox">Bryan</label></li>
				</ul>
				<div class="clear">
					<a class="btn" href=""><span class="icon"></span><span>Create Team</span></a>
					<div class="btn_cancel">or <a href="">Cancel</a></div>
				</div>
			</form>
			
	</div><!-- / modal_inner -->
</div><!-- / modal -->
  
<div id="wrapper">
<div id="header">
	<h1><%= link_to @instance.try(:name) || "Host Name", root_path %></h1><!-- / logo -->
	<div id="nav">
		<ul style="float: left;">
			<li><a title="" href="/">Dashboard</a></li>
			<li id="btn_tmenu"><a title="" class="clear" href=""><span id="tmenu_txt">Tournaments</span> <span id="tmenu_unread">3</span></a>
				<div id="tmenu">
					<div id="tmenu_inner">
					<div id="matches_today">
					<h3>Matches Today</h3>
					<ul>
						<li><a href="/preview/tournaments/overview/">Valor Tournament <em>You vs James <strong>@ 4:15PM CST</strong></em></a></li>
						<li><a href="/preview/tournaments/overview/">Valor Tournament <em>You vs James <strong>@ 4:15PM CST</strong></em></a></li>
						<li><a href="/preview/tournamenst/overview/">Valor Tournament <em>You vs James <strong>@ 4:15PM CST</strong></em></a></li>
					</ul>
					</div><!-- / matches_today -->
					<h3>Your Tournaments</h3>
					<ul>
						<li><a href="/preview/tournaments/overview/">Starcraft 2 Tournament</a></li>
						<li><a href="/preview/tournaments/overview/">Some Random Tournament Name</a></li>
						<li><a href="/preview/tournaments/overview/">nvidia CSS League</a></li>
						<li><a href="/preview/tournaments/overview/">Team Fortress 2 Tournament</a></li>
					</ul>
					</div><!-- /tmenu_inner -->
				</div><!-- / tmenu -->
				</li>
		</ul>
		
		<ul id="acct-nav">
			<li><a title="" href="/preview/accounts/settings/">Account/Billing</a></li>
			<li><a title="" href="/preview/accounts/edit/">Settings</a></li>
		</ul>
		
	</div><!-- / nav -->
</div><!-- / header -->

<div id="content-wrapper">
	<div id="user-nav" class="clear">
		
		<%= render :partial => "layouts/user_nav" %>
		
		<h1 id="page_title"><%= yield(:title) %></h1>
		
		<%= yield(:tournament_nav) %>
		
	</div><!-- / user-nav -->
  <div id="content" class="clear">
    <%= yield %>
  </div>
</div><!-- / content-wrapper -->

</div><!-- / wrapper -->
<div id="footer">
	<div class="clear">
	<div id="meta_copy">
	<div class="clear"><a id="managed_by" href="">Managed by The Battle Center</a></div>
	<p>&copy; 2008-2009 The Battle Begins LLC</p>
	<p><a href="">The Battle Center</a> is a service of <a href="">The Battle Begins</a></p>
	</div>
	
	<div id="feedback_support">
		<a>Need Feedback?</a>
	</div>
	
	<div class="footer_inner">
		<div id="support_info">
			<h2>Support</h2>
			<ul>
				<li><a href="">FAQ</a></li>
				<li><a href="">Forums</a></li>
				<li><a href="">Tour</a></li>
				<li><a href="">Other Links</a></li>
				<li><a href="">Other Links</a></li>
			</ul>
		</div><!-- / support_info -->
		<div id="gen_info">
			<h2>General</h2>
			<ul>
				<li><a href="">Blog</a></li>
				<li><a href="">BattleID</a></li>
				<li><a href="">The Battle Begins</a></li>
				<li><a href="">Other Links</a></li>
				<li><a href="">Other Links</a></li>
			</ul>
		</div><!-- / gen_info -->
		<div id="gen_info">
	 		<h2>Legal</h2>
	 		<ul>
	 			<li><a href="">Privacy Policy</a></li>
	 			<li><a href="">Terms of Service</a></li>
	 			<li><a href="">Other Links</a></li>
	 			<li><a href="">Other Links</a></li>
	 			<li><a href="">Other Links</a></li>
	 		</ul>
		</div><!-- / gen_info -->
	</div><!-- / footer_inner -->
	</div><!-- / clear -->
</div><!-- / footer -->
</body>
</html>
