<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
	<title>Starfeeder</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Language" content="en-us" />
	<meta name="robots" content="all" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="" />
	<%= stylesheet_link_tag 'screen' %>
	<%= stylesheet_link_tag 'modals' %>
	<%= stylesheet_link_tag 'battle_bar' %>
	<%= javascript_include_tag 'jquery', 'lowpro.jquery', 'jquery.timeago', 'jquery.metadata', 'global', 'bmodal' %>
	<%= yield(:head) %>
	<link rel="Shortcut Icon" href="/favicon.ico" type="image/x-icon" />
	
</head>
<body id="<%= yield(:body) %>">
<%= yield(:modals) %>	
	
<%= render :partial => "layouts/battle_bar" %>
	  
<div id="wrapper">
	
	<div id="acct_nav" class="clear">
		<ul class="clear">
			<li class="beta"><a title="" href="/preview/accounts/settings/">Billing</a></li>
			<li><a title="" href="/preview/accounts/edit/">Settings</a></li>
			<li id="feedback"><a title="" href="/preview/accounts/help/">Feedback</a></li>
		</ul>
	</div><!-- / acct_nav -->

<div id="header">
	<h1><%= link_to @instance.try(:name) || "Host Name", root_path %></h1><!-- / logo -->
	<h2 id="page_title"><%= yield(:title) %></h2>
	<div class="clear"></div>
	<%= yield(:tournament_nav) %>
	<div class="clear"></div>
</div><!-- / header -->

<div id="content-wrapper">
  <div id="content" class="clear">
    <%= yield %>
  </div>
</div><!-- / content-wrapper -->

</div><!-- / wrapper -->
<div id="footer">
	<div class="clear">
	<div id="meta_copy">
	<div class="clear"><a id="managed_by" href="">Managed by The Battle Center</a></div>
	<p>&copy; 2008-2009 A Service of <a href="">The Battle Begins LLC</a></p>
	</div>
	
	<div id="feedback_support">
		<a href="/preview/accounts/help/">Hello</a>
	</div>
	
	<div class="footer_inner">
		<div id="support_info">
			<h2>Support</h2>
			<ul>
				<li><a href="">FAQ</a></li>
				<li><a href="">Help</a></li>
			</ul>
		</div><!-- / support_info -->
		<div class="beta" id="gen_info">
			<h2>General</h2>
			<ul>
				<li><a href="">Blog</a></li>
				<li><a href="">BattleID</a></li>
			</ul>
		</div><!-- / gen_info -->
		<div id="gen_info">
	 		<h2>Legal</h2>
	 		<ul>
	 			<li><a href="">Privacy Policy</a></li>
	 			<li><a href="">Terms of Service</a></li>
	 		</ul>
		</div><!-- / gen_info -->
	</div><!-- / footer_inner -->
	</div><!-- / clear -->
</div><!-- / footer -->
</body>
</html>
