<% content_for :head do -%>
<%= stylesheet_link_tag 'settings' %>
<% end -%>
<div id="content-wrapper">
	<div id="user-nav" class="clear">
		
		<%= render :partial => "layouts/user_nav" %>
		
		<h1>Settings</h1>
		
	</div><!-- / user-nav -->
<div id="content" class="clear">
<div id="maincol">
	<div class="pod">
  <div class="bd">
	  <h3 class="first">Your Logo</h3>
    <div id="your_logo" class="darkpod clear">
	    <p>Your logo appears on the Login, Dashboard, and Overview pages.</p>
	    <p class="note"><strong>NOTE:</strong> The logo must not be lmore than 300 pixels wide. If you keep seeing an old logo instead of the new logo you've uploaded <a href="#">see the FAQ</a>.</p>
				<% form_for '@account' do |f| -%>
					<dl>
						<dt><img src="/images/missing_logo.gif" alt="logo" /></dt>
	        	<dd><%= f.file_field :logo %></dd>
	        	<dd><button type="submit">Upload Logo</button></dd>
					</dl>
				<% end -%>
	  </div>	 
	
	  <h3>Your Site Name</h3>
    <div id="your_site_name" class="darkpod">
	    <p>Your site name appears at the top of every page.</p>
	    <% form_for '@account' do |f| -%>
	      <%= f.text_field :name %>
	    <% end -%>
	  </div>
	
	  <h3>Message Categories</h3>
	  <div id="message_categories" class="darkpod darkpod-last">
	    <table>
        <tr>
        	<td>Announcements</td>
        	<td class="remove"><a href="#">remove</a></td>
        </tr>
        <tr>
        	<td>Comments</td>
        	<td class="remove"><a href="#">remove</a></td>
        </tr>
        <tr>
        	<td>Stuff</td>
        	<td class="remove"><a href="#">remove</a></td>
        </tr>
	    </table>
	    <% form_for '@account' do |f| -%>
	    	<%= f.text_field :title %>
				<button type="submit">Add Category</button>
	    <% end -%>
	  </div>
	</div><!-- / bd -->
</div><!-- / pod -->
</div><!-- / main-col -->

<div id="sidecol">
</div><!-- / sidecol -->