<% content_for :head do -%>
<% body 'settings' %>
<%= stylesheet_link_tag 'settings' %>
<% end -%>

<% title "Settings" %>

<div id="maincol">
<div class="col">
	<div class="pod" id="settings">
  <div class="bd clear">
    <% form_for @account, :url => '/settings', :method => :put, :html => {:multipart => true} do |f| %>
		<div id="account_url" class="clear group darkpod">
		  <div id="your_site_name">
    	  <h2>Your Site Name</h2>
    	  <p>Your site name appears at the top of every page.</p>
  	    <%= f.text_field :name %>
  	  </div><!-- / your_site_name -->
		<ul>
  	  <li>
				<h2>Your URL</h2>
				http://starfeeder.tbblive.com
			</li>
			<li id="account_url_input">
				http:// <%= f.text_field :subdomain  %> .tbblive.com
				<button type="submit" class="btn"><span class="icon"></span><span>Save</span></button>
			</li>
  	</ul>
		</div><!-- // darkpod -->
	  <h3>Your Logo <span>&mdash; Your logo appears on the Login, Dashboard, and Overview pages.</span></h3>
    <div id="your_logo" class="darkpod clear">
	    <p></p>
	      <div class="clear">
				<div class="left_block"><%= image_tag current_account.logo.url %></div>
        <div class="block">
					<div><%= f.file_field :logo %></div>
					<button type="submit" class="btn"><span class="icon"></span><span>Upload Logo</span></button>
					</div><!-- / clear -->
				</div>
				<p><strong>NOTE:</strong> The logo must not be more than 300 pixels wide. If you keep seeing an old logo instead of the new logo you've uploaded <a href="#">see the FAQ</a>.</p>
	  </div>
	  <button class="btn save_changes"><span class="icon"></span><span>Save Changes</span></button>
	  <% end %>
	</div><!-- / bd -->
	
</div><!-- / pod -->
</div><!-- / col -->
</div><!-- / main-col -->

<div class="beta" id="sidecol">
<div class="col">
	<div class="pod">
		<div class="bd">
		</div><!-- // bd -->
	</div><!-- // pod -->
</div><!-- / col -->
</div><!-- / sidecol -->