<div id="signup_wrap">
  <div class="hd">
    <h1>SIGN UP</h1>
  </div>
  <% form_tag :action => 'create' do %>
  <%= hidden_field_tag 'plan', params[:plan] %>
  
  <div class="section">
    <h1>Admin Account</h1>
    <%= image_tag current_user.avatar.url, :size => '20x20' %>
    <%= current_user.login %> (<%= link_to 'Login as a different user', new_user_session_url(:ref => request.url) %>)
  </div>
  
  <div class="section">
    <% if @account.errors.any? %>
      <div class="errorExplanation">
        <h2>Errors encountered with your account information:</h2>
        <ul>
          <%= @account.errors.full_messages.map {|m| content_tag('li', m)} %>
        </ul>
      </div>
    <% end %>
    
    <h1>Host Account Sign Up</h1>
    <fieldset>
      <% fields_for :account do |f| %>
      <legend>Account Information</legend>
      <p><label>Organization Name</label><%= f.text_field :name %><span>Or Company, Community, non-profit etc.</span></p>
      <p><label>Account URL</label><%= f.text_field :subdomain %><span>.<%= AppConfig['base_domain'] %></span></p>
      <% end %>
    </fieldset>
    
    <% if @account.needs_payment_info? %>
    <fieldset class="last">
      
      <% if @creditcard.errors.any? %>
        <div class="errorExplanation">
          <h2>Errors encountered with your payment information:</h2>
          <ul>
            <%= @creditcard.errors.full_messages.map {|m| content_tag('li', m)} %>
          </ul>
        </div>
      <% end %>

      <% if @address.errors.any? %>
        <div class="errorExplanation">
          <h2>Errors encountered with your address:</h2>
          <ul>
            <%= @address.errors.full_messages.map {|m| content_tag('li', m)} %>
          </ul>
        </div>
      <% end %>

      <% if @subscription && @subscription.errors.any? %>
        <div class="errorExplanation">
          <h2>Errors encountered with your payment:</h2>
          <ul>
            <%= @subscription.errors.full_messages.map {|m| content_tag('li', m)} %>
          </ul>
        </div>
      <% end %>
      
      <legend>Billing Information</legend>
        <p><label>First Name:</label>  <%= text_field :creditcard, :first_name %></p>
        <p><label>Last Name:</label>   <%= text_field :creditcard, :last_name %></p>
        <p><label>Card Number:</label> <%= text_field :creditcard, :number, :size => 20 %></p>
        <p><label>Type:</label> <%= select :creditcard, :type, [['Visa', 'visa'], ['MasterCard', 'master'], ['American Express', 'american_express']] %></p>
        <p class="dropdown">
          <label>Expiration:</label>
          <%= select :creditcard, :month, (1 .. 12) %>
          <%= select :creditcard, :year, (Time.now.year .. 10.years.from_now.year) %>
        </p>
        <p><label>CVV:</label><%= text_field :creditcard, :verification_value, :size => 4 %><span><a href="">What is this?</a></span></p>
        <p><label>Address 1:</label><%= text_field :address, :address1 %></p>
        <p><label>Address 2:</label><%= text_field :address, :address2 %></p>
        <p><label>City:</label><%= text_field :address, :city %></p>
        <p><label>State:</label><%= text_field :address, :state %></p>
        <p><label>Zip:</label><%= text_field :address, :zip %></p>
        <p class="dropdown"><label>Country:</label><%= country_select :address, :country, ['United States', 'Canada'] %></p>
        <p><label>Phone:</label><%= text_field :address ,:phone %></p>
    </fieldset>
    <% end %>
  </div>
  <div id="signup_finish">
    <p>By clicking Create my account you agree to the <a href="http://thebattlecenter.com/terms">Terms of Service</a> &amp; <a href="http://thebattlecenter.com/privacy">Privacy</a>.</p>
    <p><button>Create my account</button></p>
  </div><!-- /signup_finish -->
  <% end %>
</div>