<% content_for :head do -%>
<%= stylesheet_link_tag 'new_overview' %>
<% body 'new_overview' %>
<% end -%>

<div id="getting_started" class="modal">
  <div class="modal_inner">
    <!-- 
    <ul>
      <li>
        <h1>Create a Tournament</h1>
        <img src="images/started_join_tournament_thumb.png" />
        <p>Create a tournament in a matter of seconds. Enter your rules &amp; create the tournament. Invite your co-hosts easily.</p>
      </li>
      <li>
        <h1>Organize Participants</h1>
        <img src="images/started_join_tournament_thumb.png" />
        <p>Easily accept or decline players that wish to join your tournament. Once accepted they will be able to participate.</p>
      </li>
      <li>
        <h1>Manage Brackets</h1>
        <img src="images/started_join_tournament_thumb.png" />
        <p>Control your brackets. Advance or disqualify players, solve disputes and get a birds eye view of your tournament.</p>
      </li>
    </ul>
  -->
  </div><!-- / modal_inner -->
  <a id="btn_started" class="modal_close" href="">Get in the Game!</a>
  <a id="btn_learnmore" target="_blank" href="http://www.thebattlecenter.com">Learn More</a>
</div><!-- / modal -->

<div id="maincol">
<div class="col">
<% if !@tournaments.blank? %>
  <% for tournament in @tournaments %>
	<div class="pod">
  	<div class="hd">
  		<h2><%= link_to tournament.name, tournament_path(tournament) %></h2>
  	</div>
    <div class="overview bd">
      <ul>
        <% tournament.public_events.each do |event| %>
          <%= render :partial => "events/#{event.event_type}", :locals => {:event => event, :tournament => tournament} %>
        <% end %>
      </ul>
    </div>
	</div><!-- / pod -->
  <% end %>
<% else %>
  <% if current_account.admin == current_user %>
    <div class="getting_started pod">
      <div class="bd">
        <a id="btn_started" href="#getting_started" rel="dark_modal">Click to Get Started</a>
      </div>
  	</div><!-- / pod -->
  <% else %>
  <div class="pod">
  	<div class="hd">
  		<h2>No Recent Activity</h2>
  	</div><!-- / hd -->
  	<div class="blank_overview bd"><!-- this is the real overview/bank 2/2/2010 -->
  	  <p>There are no active tournaments.</p>
  	</div><!-- / bd -->
	</div><!-- / pod -->
  <% end %>
<% end %>
</div><!-- / col -->
</div><!-- / main-col -->

<div id="sidecol">
<div class="col">
  <div class="account_logo">
    <% if current_account.logo.exists? %>
      <%= image_tag current_account.logo.url %>
    <% end %>
  </div><!-- / account_logo -->
  <div class="pod tnav">
  	<div class="hd">
  		<h2>Tournaments</h2>
  	</div><!-- / hd -->
  	<div class="bd">
  		<ul>
  		  <% if !current_account.tournaments.blank? %>
  		    <% for t in @tournaments_alpha %>
  		      <li><%= link_to t.name, tournament_path(t) %></li>
  		    <% end %>
  		    <% else %>
  		      <li id="empty_tlist">No Active Tournaments</li>
  		  <% end %>
  			<li class="beta"><a href="" class="beta tedit">Edit</a><a href="">Valor Tournament</a></li>
  			<% if current_account.admin == current_user %>
  			  <li><%= link_to "Create a New Tournament", new_tournament_path, :class => 'icon-add' %></li>
  			<% end %>
  		</ul>
  	</div><!-- / bd -->
  </div><!-- / pod -->

  <div class="beta pod tcompleted">
  	<div class="hd">
  		<h2>Completed Tournaments</h2>
  	</div><!-- / hd -->
  	<div class="bd">
  		<ul>
  			<li><a href="">Valor Tournament</a></li>
  		</ul>
  	</div><!-- / bd -->
  </div><!-- / pod -->
</div><!-- / col -->
</div><!-- / sidecol -->
