<% content_for :head do -%>
<%= stylesheet_link_tag 'new_overview' %>
<% body 'new_overview' %>
<% end -%>

<div id="getting_started" class="modal" style="position:absolute;top:0;left:100px;display: block;">
  <div class="modal_inner">
    <ul>
      <li>
        <h1>Join a Tournament</h1>
        <img src="images/started_join_tournament_thumb.png" />
        <p>Easily join the tournament you want to join. Once you click the button, the host will be notified and approve your request.</p>
      </li>
      <li>
        <h1>Create a Team</h1>
        <img src="images/started_join_tournament_thumb.png" />
        <p>Easily join the tournament you want to join. Once you click the button, the host will be notified and approve your request.</p>
      </li>
      <li>
        <h1>Submit Match Results</h1>
        <img src="images/started_join_tournament_thumb.png" />
        <p>Easily join the tournament you want to join. Once you click the button, the host will be notified and approve your request.</p>
      </li>
    </ul>
  </div><!-- / modal_inner -->
  <a id="btn_started" class="modal_close" href="">Get in the Game!</a>
  <a id="btn_learnmore" target="_blank" href="http://www.thebattlecenter.com">Learn More</a>
</div><!-- / modal -->

<div id="maincol">
<div class="col">
<% if !@tournaments.blank? %>
  <% for tournament in @tournaments %>
	<div class="pod">
  	<div class="hd">
  		<h2><%= link_to tournament.name, tournament_path(tournament) %></h2>
  	</div>
    <div class="overview bd">
      <ul>
        <% tournament.public_events.each do |event| %>
          <%= render :partial => "events/#{event.event_type}", :locals => {:event => event, :tournament => tournament} %>
        <% end %>
      </ul>
    </div>
	</div><!-- / pod -->
  <% end %>
<% else %>
    <div class="getting_started pod">
      <div class="bd">
        <a id="btn_started" href="#getting_started" rel="dark_modal">Click to Get Started</a>
      </div>
  	</div><!-- / pod -->
<% end %>
</div><!-- / col -->
</div><!-- / main-col -->

<div id="sidecol">
<div class="col">
  <div class="account_logo">
    <% if current_account.logo.exists? %>
      <%= image_tag current_account.logo.url, :width => '283px' %>
    <% end %>
  </div><!-- / account_logo -->
<%= render :partial => "layouts/sidenav" %>
</div><!-- / col -->
</div><!-- / sidecol -->
