<% content_for :head do -%>
<%= stylesheet_link_tag 'new_overview' %>
<% body 'new_overview' %>
<% end -%>

<div id="maincol">
<div class="col">
<% if !@tournaments.blank? %>
  <% for tournament in @tournaments %>
	<div class="pod">
  	<div class="hd">
  		<h2><%= link_to tournament.name, tournament_path(tournament) %></h2>
  	</div>
    <div class="overview bd">
      <ul>
        <% tournament.public_events.each do |event| %>
          <%= render :partial => "events/#{event.event_type}", :locals => {:event => event, :tournament => tournament} %>
        <% end %>
      </ul>
    </div>
	</div><!-- / pod -->
  <% end %>
<% else %>
  No Tournaments
<% end %>
</div><!-- / col -->
</div><!-- / main-col -->

<div id="sidecol">
<div class="col">
  <div class="account_logo">
    <% if current_account.logo.exists? %>
      <%= image_tag current_account.logo.url, :width => '200px' %>
    <% end %>
  </div><!-- / account_logo -->
<%= render :partial => "layouts/sidenav" %>
</div><!-- / col -->
</div><!-- / sidecol -->
